
.list-input {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .label {
        flex-shrink: 0;
        margin-bottom: var(--spacing-small);
    }

    .list {
        flex-grow: 1;
        overflow: auto;
    }

    .hint-and-error {
        flex-shrink: 0;
    }
}
