:global .treemap-container {
    .treemap {
        width: 100%;
        height: 100%;

        .grandparent text {
            cursor: pointer;
            font-weight: 700;
        }

        .navigation:hover {
            fill: grey;
        }

        .children rect.parent,
        .children rect.child {
            opacity: 1;
        }

        .children rect.parent {
            fill-opacity: 0;
        }

        .parent-text {
            font-weight: 700;
        }

        rect {
            cursor: pointer;
        }

        rect.parent {
            pointer-events: none;
        }
    }
}
