:global .treemap {
    width: 100%;
    height: 100%;

	  rect {
	      stroke: #fff;
	      stroke-width: 1px;
	  }
    .grandparent text {
        cursor:pointer;
    }
	  .navigation {
	      stroke-width: 3px;
        fill: #1693A5;
	  }
	  .navigation:hover {
	      fill: grey;
	  }
    .children rect.parent,
	  .grandparent rect {
	      cursor: pointer;
	  }
	  .children rect.child {
	      opacity: 0;
	  }
	  .children:hover rect.child {
	      opacity: 1;
	      stroke-width: 1px;
	  }
	  .children:hover rect.parent {
	      opacity: 0;
	  }
}
