.cell {
    flex-basis: calc(100% / 7);
    flex-shrink: 0;
    padding: var(--spacing-extra-small);
    text-align: center;

    &.selected {
        background-color: var(--color-accent);
        color: var(--color-text-on-accent);
    }

    &.today {
        font-weight: bold;
    }
}
