@import '../../../stylesheets/base';

.horizontal-bar {

    .grid line {
        stroke: $color-grid-path;
        shape-rendering: crispEdges;
    }

    .grid {
        path {
            stroke: $color-axis-path;
        }
    }

    .x-axis {
        path {
            stroke: $color-axis-path;
        }

        .tick line {
            visibility: hidden;
        }
    }

    .y-axis {
        path {
            stroke: $color-axis-path;

            .tick line {
                visibility: hidden;
            }
        }
    }
}
