@import '../../../stylesheets/base';

:global .horizontalbar-container {
    width: 100%;
    height: 100%;

    .horizontalbar {
        .grid line {
            stroke: $color-links;
            stroke-opacity: .7;
            shape-rendering: crispEdges;
        }

        .grid path {
            stroke-width: 0;
        }

        .x-axis path {
            stroke: $color-primary;
        }

        .y-axis path {
            stroke: $color-primary;
        }
    }

}
