@import '../../../stylesheets/base';

.file-input-wrapper {
    display: inline-block;
    width: 100%;

    .label {
        display: block;
        cursor: pointer;
        padding: $spacing-medium;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }

    .input {
        display: none;
    }

    .status {
        margin: 0;
    }
}
