@import '../../../stylesheets/base';


$height-header: 48px;

.time-series {
  background-color: $color-foreground;
  height: 400px;
  width: 500px;

  header {
    align-items: center;
    display: flex;
    height: $height-header;
    justify-content: space-between;
    padding: 0 $spacing-medium;

    h3 {
      color: $color-label;
      font-weight: $font-weight-normal;
    }
  }

  .content {
    height: calc(100% - #{$height-header});

    svg {
      height: 100%;
      width: 100%;
    }
  }

}

:global .overlay {
  fill: none;
  pointer-events: all;
}
