@import '../../../stylesheets/utils';

.force-directed-graph {
    .links {
        stroke: var(--color-links);
    }

    .nodes :hover {
        opacity: 1;
    }
}

.tooltip {
    @include shadow-medium;

    display: block;
    position: fixed;
    z-index: 10;
    background-color: var(--color-foreground);
    padding: var(--spacing-small) var(--spacing-medium-alt);
    color: var(--color-text);
    pointer-events: none;

    .value {
        display: block;
    }
}
