@import '../../../stylesheets/utils';

.forced-directed-graph {
}

.forced-tooltip {
    @include shadow-medium;
    position: fixed;
    z-index: 10;
    background-color: var(--color-foreground);
    padding: var(--spacing-small) var(--spacing-medium-alt);
    color: var(--color-text-on-foreground);
}

.slider {
    top: 0;
    left: 0;
    cursor: pointer;
}
