@import '../../../stylesheets/base';

.forced-directed-graph {
}

.forced-tooltip {
    @include shadow-medium;
    background-color: $color-foreground;
color: $color-text-on-foreground;
    position: fixed;
    z-index: 10;
    padding: $spacing-small $spacing-medium-alt;
}

.slider {
    top: 0;
    left: 0;
    cursor: pointer;
}
