@import '../../../stylesheets/base';

.forced-directed-graph {
}

.forced-tooltip {
    @include shadow-medium;
    @include background-color($color-foreground);
    position: fixed;
    z-index: 10;
    padding: $spacing-small $spacing-medium-alt;
}

.input-slider {
    top: 0;
    left: 0;
    cursor: pointer;
}
