@import '../../../../stylesheets/base';

.table {
    width: 100%;
    border-spacing: 0;

    :global .headers {
        .header {
            position: sticky;
            top: 0;
            background-color: $color-background-header;
            padding: 0;
            text-align: left;
            user-select: none;

            &:not(:first-child) {
                border-left: $width-separator-medium solid $color-separator;
            }
        }
    }

    :global .body {
        .row {
            .cell {
                padding: $spacing-medium;

                &:not(:first-child) {
                    border-left: $width-separator-medium solid $color-separator;
                }
            }
        }
    }
}

.column-header {
    padding: $spacing-small $spacing-medium;

    &.sortable {
        cursor: pointer;

        &:hover {
            background-color: $color-background-header-alt;
        }

        &::before {
            display: inline-block;
            transform: rotate(90deg);
            margin-right: $spacing-small;
            font-family: 'Ionicons';
            content: '\f268';
        }

        &.active {
            color: $color-accent;

            &::before {
                transform: rotate(0);
            }

            &.asc {
                &::before {
                    content: '\f35d';
                }
            }

            &.dsc {
                &::before {
                    content: '\f366';
                }
            }

        }
    }
}
