
.highlight {
    border-radius: 4px;
    cursor: pointer;
    padding: var(--spacing-extra-small-alt) 0;

    .text {
        padding: 0 var(--spacing-small);
    }

    .label {
        display: inline-block;
        transform: translate(-2px, -1px);
        border-radius: 3px;
        padding: 0 var(--spacing-small);
        text-transform: uppercase;
        color: var(--color-text-label);
        font-size: var(--font-size-extra-small);
        font-weight: var(--font-weight-bold);
    }
}
