.list-selection {
    .options {
        display: flex;

        .item {
            padding: var(--spacing-small) var(--spacing-extra-small);

            &:hover {
                background-color: var(--color-background-accent-hint);
            }

            // &:first-child {
            //     padding-left: 0;
            // }

            // &:last-child {
            //     padding-right: 0;
            // }
        }
    }
}
