@import '../../../stylesheets/base';

$width-resizable-separator: 8px;

.resizable-h {
    .first {
        position: relative;
        padding: 0;
    }

    .second {
        position: relative;
        padding: 0;

        .separator {
            @include transition-medium;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1111;
            border-left: $width-separator-medium solid transparent;
            cursor: col-resize;
            width: $width-resizable-separator;
            height: 100%;

            &:hover {
                border-left-color: $color-accent;
            }
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        opacity: .1;
        background-color: $color-foreground;
        width: 100%;
        height: 100%;
    }

    &.resizing {
        cursor: col-resize;
        user-select: none;

        .separator {
            border-right-color: $color-accent;
        }
    }
}

.resizable-v {
    .first {
        position: relative;
        padding: 0;
    }

    .second {
        position: relative;
        padding: 0;

        .separator {
            @include transition-medium;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1111;
            border-top: $width-separator-medium solid transparent;
            cursor: row-resize;
            width: 100%;
            height: $width-resizable-separator;

            &:hover {
                border-top-color: $color-accent;
            }
        }
    }

    &.resizing {
        cursor: row-resize;
        user-select: none;

        .separator {
            border-bottom-color: $color-accent;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        opacity: .1;
        background-color: $color-foreground;
        width: 100%;
        height: 100%;
    }
}
