@import '../../../stylesheets/base';

$width-resizable-separator: 10px;

.resizable-h {
    .first {
        position: relative;
        padding: 0;

        .separator {
            @include transition-medium;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1111;
            cursor: col-resize;
            width: $width-resizable-separator;
            height: 100%;
            border-right: $width-separator-medium solid transparent;

            &:hover {
                border-right-color: $color-accent;
            }
        }
    }

    .second {
        padding: 0;
    }

    &.resizing {
        cursor: col-resize;
        user-select: none;

        .separator {
            border-right-color: $color-accent;
        }
    }
}

.resizable-v {
    .first {
        position: relative;
        padding: 0;

        .separator {
            @include transition-medium;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1111;
            cursor: row-resize;
            width: 100%;
            height: $width-resizable-separator;
            border-bottom: $width-separator-medium solid transparent;

            &:hover {
                border-bottom-color: $color-accent;
            }
        }
    }

    .second {
        padding: 0;
    }

    &.resizing {
        cursor: row-resize;
        user-select: none;

        .separator {
            border-bottom-color: $color-accent;
        }
    }
}
