.nepali-date-input {
    .input-container {
        display: flex;
        align-items: baseline;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);

        .date {
            outline: none;
            cursor: pointer;
            padding: var(--spacing-extra-small) 0;
            padding: 0 var(--spacing-extra-small-alt);
            font-family: var(--font-family-monospace);

            &.empty {
                color: var(--color-text-placeholder);
            }
        }

        .actions {
            padding: 0 var(--spacing-small);
            font-size: var(--font-size-large);

            .today-button {
                outline: none;
                padding: 0 var(--spacing-extra-small-alt);
            }

            .clear-button {
                outline: none;
                padding: 0 var(--spacing-extra-small-alt);
            }
        }
    }

    &:focus-within {
        .input-container {
            border-bottom-color: var(--color-accent);
        }

        .label {
            color: var(--color-accent);
        }
    }
}
