@import '../../../stylesheets/base';

.input-hint-and-error {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: $font-size-extra-small;

    &.input-hint {
        color: $color-text-label;
    }

    &.input-error {
        color: $color-danger;
    }

    &.empty {
        visibility: hidden;
    }
}
