@import '../../../stylesheets/base';

.vertical-bar-chart {
    overflow: auto;

    .svg {
        .bar{
            cursor: pointer;
        }

        .xaxis {
            path {
                stroke: $color-axis-path;
            }

            line {
                visibility: hidden;
            }
        }

        .yaxis {
            path {
                stroke: $color-axis-path;
            }

            line {
                visibility: hidden;
            }
        }
    }
}

.tooltip {
    @include shadow-medium;
    background-color: $color-foreground;
color: $color-text-on-foreground;
    position: fixed;
    z-index: 10;
    padding: $spacing-small $spacing-medium-alt;
    animation: fade-in .2s ease-in;
    pointer-events: none;

    .label {
        display: block;
    }

    .value {
        display: block;
    }
}
