@import '../../../stylesheets/base';

.taebul {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: auto;

    .head {
        display: flex;
        flex-shrink: 0;
        border-top: $width-separator-thin solid $color-separator;
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-foreground;
        overflow: hidden;
    }

    .body {
        flex-grow: 1;
        padding: 0;
        overflow: auto;

        .row {
            border-bottom: $width-separator-thin solid $color-separator;
        }

        :global {
            .virtual-div {
                background: none;
            }
        }
    }
}
