.calendar {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;

        .year-month {
            flex-grow: 1;
            // text-align: center;
            font-weight: var(--font-weight-bold);
        }

    }

    .sub-header {
        display: flex;
        flex-wrap: wrap;
        font-weight: var(--font-weight-bold);
    }

    .body {
        display: flex;
        flex-wrap: wrap;
    }

    .footer {
        display: flex;
    }
}
