.select-input-with-list {
    display: flex;
    flex-direction: column;

    .header-container {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .input {
            flex-grow: 1;
            padding: 0 var(--spacing-small);
        }
    }

    .list {
        flex-grow: 1;
        overflow-y: auto;

        .list-item {
            flex-shrink: 0;
            padding: var(--spacing-extra-small) var(--spacing-small);
        }

        &.inline-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            border: var(--width-separator-thin) solid var(--color-separator);
            background-color: var(--color-foreground-alt);
            width: 100%;

            .inline-list-item {
                padding: var(--spacing-extra-small);
                // max-width: calc(50% - var(--spacing-extra-small));
                font-size: var(--font-size-small);
            }

            .inline-list-item-for-dismissable {
                padding: 0;
            }
        }
    }

    &.error {
        border-bottom-color: var(--color-danger);
    }

    &.disabled {
        .list {
            .list-item {
                color: var(--color-text-disabled);
            }
        }
    }
}
