@import '../../../stylesheets/base';

.select-input-with-list {
    display: flex;
    flex-direction: column;

    .input {
        flex-shrink: 0;
    }

    .list {
        flex-grow: 1;
        overflow-y: auto;

        .selected-item {
            @extend %background-alternating-row;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: $spacing-small;

            .selected-item-label {
                flex-grow: 1;
            }

            .remove-button {
                flex-shrink: 0;

                &.disabled {
                    color: $color-text-label;
                }
            }
        }
    }

    &.error {
        border-bottom-color: $color-danger;
    }
}
