@import '../../../stylesheets/base';

.select-input-with-list {
    display: flex;
    flex-direction: column;

    .header-container {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .input {
            flex-grow: 1;

            &.has-top-right-child {
                padding-left: $spacing-small;
            }
        }
    }

    .list {
        flex-grow: 1;
        overflow-y: auto;

        .selected-item {
            @extend %background-alternating-row;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: $spacing-small;

            .selected-item-label {
                flex-grow: 1;
            }

            .remove-button {
                display: none;
                flex-shrink: 0;

                &.disabled {
                    color: $color-text-label;
                }
            }

            &:hover {
                .remove-button {
                    display: block;
                }
            }
        }
    }

    &.error {
        border-bottom-color: $color-danger;
    }
}
