@import '../../../../stylesheets/base';

$width-resize-handle: 10px;
$height-resize-handle: 10px;

.grid-item {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    border: $width-separator-thin solid transparent;
    cursor: move;

    &.moving {
        z-index: 1;
        border-color: $color-accent;
    }

    &.resizing {
        z-index: 1;
        border-color: $color-accent;
    }

    &.invalid {
        border-color: $color-danger;
    }

    .resize-handle {
        display: block;
        position: absolute;
        right: $width-separator-medium;
        bottom: $width-separator-medium;
        border-right: $width-separator-medium solid $color-separator-alt;
        border-bottom: $width-separator-medium solid $color-separator-alt;
        cursor: se-resize;
        width: $width-resize-handle;
        height: $height-resize-handle;

        &:hover {
            border-right-color: $color-accent;
            border-bottom-color: $color-accent;
        }
    }
}
