@import '../../../../stylesheets/base';

.checkbox {
    display: flex;
    cursor: pointer;
    width: 100%;
    user-select: none;

    .checkmark {
        display: inline-block;
        margin-right: $spacing-small;
        font-size: $font-size-medium-alt;
    }

    .input {
        display: none;
    }

    .label {
        color: $color-text;
        font-weight: $font-weight-normal;
    }

    &.checked {
        .checkmark {
            color: $color-accent;
        }
    }
}
