@import '../../../stylesheets/base';

$width-checkmark: $font-size-medium;

.checkbox {
    display: flex;
    cursor: pointer;
    user-select: none;

    .checkmark {
        margin-right: $spacing-extra-small;
        width: $width-checkmark;
    }

    .input {
        display: none;
    }

    .label {
        color: $color-text;
        font-weight: $font-weight-normal;
    }

    &.checked {
        .checkmark {
            color: $color-accent;
        }
    }

    &.disabled {
        .checkmark {
            color: $color-text-disabled;
        }

        .label {
            color: $color-text-disabled;
        }

        .input {
            border-bottom-color: $color-separator;
            color: $color-text-disabled;
        }
    }

    &.read-only {
        .checkmark {
            color: $color-text;
        }
    }
}
