@import '../../../stylesheets/base';

.loading-animation {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 11;
    background-color: $color-background-overlay;
    width: 100%;
    height: 100%;

    &.small {
        font-size: $font-size-loading-icon-small;
    }

    &.medium {
        font-size: $font-size-loading-icon-medium;
    }

    &.large {
        font-size: $font-size-loading-icon-large;
    }

    .icon {
        animation: spin 1s linear infinite;
        line-height: 1;
    }

    .message {
        margin-left: $spacing-medium;
        color: $color-text-label;
    }
}
