@import '../../../../stylesheets/base';

.loading-animation {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: $color-background-overlay;
    width: 100%;
    height: 100%;
    z-index: 11;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        animation: spin 1s linear infinite;
        width: $width-loading-icon;
        height: $height-loading-icon;
        font-size: $font-size-loading-icon;
    }
}
