.options {
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);
    min-height: 56px;
    max-height: 220px;

    .list {
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: auto;
        color: var(--color-text-on-foreground);
    }
}
