@import '../../../stylesheets/utils';

.gauge-chart {

    .arc {
        cursor: pointer;
    }

    .pointer {
        fill: #008FFB;
    }

    .pointer-circle {
        fill: #008FFB;
    }

    .label {
        font-size: 1.5em;
        text-anchor: middle;
    }
}
