@import '../../../stylesheets/base';
@import '../../../stylesheets/button-base';

.vertical-tabs {
    overflow-y: auto;

    .tab {
        @extend %button-base;
        display: block;
        border-bottom: $width-separator-thin solid $color-separator;
        border-left: $width-separator-thick solid transparent;
        padding: $spacing-small $spacing-medium;
        width: 100%;
        text-align: left;
        word-break: break-all;
        color: $color-text-label;

        &:hover {
            background-color: $color-background-hover;
            color: $color-text;
        }

        &.active {
            border-left-color: $color-accent;
            background-color: $color-background-selected;
            color: $color-text;
        }
    }
}

