@import '../../../stylesheets/utils';

.cluster-force-layout {
    width: 100%;
    height: 100%;
}

.cluster-tooltip {
    @include shadow-medium;

    position: fixed;
    z-index: 10;
    background-color: var(--color-foreground);
    padding: var(--spacing-small) var(--spacing-medium-alt);
    color: var(--color-text-on-foreground);

    .id {
        display: block;
    }

    .score {
        display: block;
    }
}
