@import '../../../../../stylesheets/base';

.header {
    position: sticky;
    top: 0;
    background-color: $color-background-header;
    padding: 0;
    text-transform: uppercase;
    font-size: $font-size-small;
    font-weight: $font-weight-normal;

    &:not(:last-child) {
        border-right: $width-separator-thin solid $color-separator;
    }
}
