
.header {
    position: sticky;
    top: 0;
    background-color: var(--color-background-header);
    padding: 0;
    text-transform: uppercase;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);

    &:not(:last-child) {
        border-right: var(--width-separator-thin) solid var(--color-separator);
    }
}
