@import '../../../../stylesheets/base';


.pager {
    .page-list {
        button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            outline: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            padding: 0;
            min-width: $width-icon-extra-large;
            min-height: $width-icon-extra-large;
            font-family: inherit;
            font-size: inherit;

            &:hover {
                background-color: $color-background-hover;
            }
       }

        span {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: $width-icon-extra-large;
            min-height: $width-icon-extra-large;
            color: $color-label;
            font-weight: $font-weight-bold;
            user-select: none;

            :global &.active {
                background-color: $color-accent;
                color: $color-text-on-accent;
            }
        }
    }
}
