@import '../../../stylesheets/base';

$width-item-per-page-input: 48px;

.pager {
    display: flex;
    align-items: baseline;

    .items-per-page {
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        padding: 0 $spacing-small;

        .input {
            width: $width-item-per-page-input;
            font-family: $font-family-monospace;

            :global {
                input {
                    text-align: right;
                }
            }
        }

        .per-page {
            padding: 0 $spacing-small;
        }
    }

    .current-range-information {
        display: flex;
        flex-shrink: 0;
        padding: 0 $spacing-small;

        .showing {
            padding-right: $spacing-small;
        }

        .current-items-start {
            font-family: $font-family-monospace;
        }

        .range-indicator {
            padding: 0 $spacing-extra-small;
        }

        .current-items-end {
            font-family: $font-family-monospace;
        }

        .of {
            padding: 0 $spacing-small;
        }

        .item-count {
            font-family: $font-family-monospace;
        }
    }

    .page-list {
        padding: 0 $spacing-small;

        .paginate-btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            outline: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            padding: $spacing-extra-small 0;
            min-width: $width-icon-extra-large;
            font-family: inherit;
            font-size: inherit;

            &:hover {
                background-color: $color-background-hover;
            }
        }

        .paginate-span {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: $spacing-extra-small 0;
            min-width: $width-icon-extra-large;
            color: $color-text-label;
            font-weight: $font-weight-bold;
            user-select: none;

            &.active {
                background-color: $color-accent;
                color: $color-text-on-accent;
            }
        }
    }
}
