.option {
    display: block;
    outline: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: var(--spacing-small) var(--spacing-small-alt);
    width: 100%;
    text-align: left;
    color: inherit;
    font-family: inherit;
    font-size: inherit;

    &.focused {
        background-color: var(--color-background-hover);
    }

    &:hover {
        background-color: var(--color-background-hover);
    }
}
