@import '../../../stylesheets/base';

var(--color): #008080;

.spark-lines {
    width: 100%;
    height: 100%;

    svg {
        width: 100%;
        height: 100%;

        path {
            fill: none;
            stroke: var(--color);
        }

        circle {
            fill: var(--color);
            stroke: var(--color);
        }
    }
}
