@import '../../../../stylesheets/base';

$color: #008080;

.spark-lines {
    height: 100%;
    width: 100%;

    svg {
        height: 100%;
        width: 100%;

        path {
            fill: none;
            stroke: $color;
        }

        circle {
            fill: $color;
            stroke: $color;
        }
    }
}
