@import '../../../stylesheets/base';

.spark-lines {
    display: flex;
    flex: 1 1 auto;
    cursor: pointer;

    .spark-line {
        .area {
            fill: $color-viz-blue;
            stroke: none;
            stroke-width: 0;
            fill-opacity: 0.1;
        }

        .path {
            stroke: $color-viz-blue;
            stroke-width: 2;
            stroke-linejoin: round;
            stroke-linecap: round;
        }

        .focus {
            fill: $color-viz-blue;
            stroke: $color-viz-grey;

            .line {
                stroke: $color-viz-orange;
            }
        }
    }
}

.tooltip {
    @include shadow-medium;

    display: block;
    position: fixed;
    z-index: 10;
    background-color: $color-foreground;
    padding: $spacing-small $spacing-medium-alt;
    color: $color-text;
    pointer-events: none;

    .yvalue {
        display: block;
    }

    .xvalue {
        display: block;
    }
}
