@import '../../../stylesheets/base';

.spark-lines {
    display: flex;
    flex: 1 1 auto;

    .spark-line {
        .area {
            fill: $color-viz-blue;
            stroke-width: 0;
            fill-opacity: 0.5;
        }

        .path {
            stroke: $color-viz-blue;
            stroke-width: 2;
            stroke-linejoin: round;
            stroke-linecap: round;
        }
    }
}
