$tooltip-background-color: rgba(0, 0, 0, .75) !default;

.tooltip {
    position: fixed;
    color: white;
    padding: 8px;
    background-color: $tooltip-background-color;
    border-radius: 6px;
    font: 12px sans-serif;
    text-align: center;
    opacity: 0;
    z-index: 10;
    pointer-events: none;

    &.hide {
        display: none;
    }
}
