@import '../../../stylesheets/base';

.button {
    @include shadow-medium;
    outline: none;
    border: 0;
    // border-bottom: $width-separator-normal solid transparent;
    border-radius: 3px;
    cursor: pointer;
    padding: $spacing-medium;
    text-transform: uppercase;
    font-family: inherit;
    font-size: $font-size-normal-alt;
    font-weight: $font-weight-normal;

    &:hover {
        background-color: $color-background-button-hover;
    }

    &:active {
        @include shadow-small;
        transform: translateY(1px);
    }

    &:focus {
        // border-bottom: $width-separator-normal solid $color-accent;
    }

    &.button-default {
        background-color: $color-background-button-default;
        color: $color-label;

        &.transparent {
            color: $color-label;
        }
    }

    &.button-accent {
        background-color: $color-accent;
        color: $color-text-on-accent;

        &.transparent {
            color: $color-accent;
        }
    }

    &.button-primary {
        background-color: $color-primary;
        color: $color-text-on-primary;

        &.transparent {
            color: $color-primary;
        }
    }

    &.button-danger {
        background-color: $color-danger;
        color: $color-text-on-primary;

        &.transparent {
            color: $color-danger;
        }
    }

    &.button-success {
        background-color: $color-success;
        color: $color-text-on-primary;

        &.transparent {
            color: $color-success;
        }
    }

    &.button-warning {
        background-color: $color-warning;
        color: $color-text-on-primary;

        &.transparent {
            color: $color-warning;
        }
    }

    .icon-button {
        margin-right: $spacing-small;

        &.transparent {
            color: $color-primary;
        }
    }

    &:disabled {
        box-shadow: none;
        background-color: $color-background-disabled;
        cursor: default;
        color: $color-text-disabled;
    }

    &.transparent {
        box-shadow: none;
        background-color: transparent;

        &:focus {
            border-bottom: 0;
            background-color: $color-hover;
        }

        &:disabled {
            cursor: default;
            color: $color-text-disabled;
        }
    }
}
