@import '../../../stylesheets/base';

$color-bar-hovered: $color-primary !default;

.bar-chart {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: $color-foreground;

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        :global svg {
            flex-grow: 1;
            width: 100%;

            .bar {
                fill: $color-accent;

                &:hover {
                    fill: $color-bar-hovered;
                }
            }

            .bar-selected {
                fill: $color-bar-selected;
            }

            .axis {

                text {
                    fill: $color-text;
                }

                &.show {
                    line,
                    path {
                        stroke: $color-background-header-alt;
                    }
                }

                &.hide {
                    line,
                    path {
                        stroke: transparent;
                    }
                }
            }
        }
    }
}
