@import '../../../../stylesheets/base';

.bar-chart {
    background-color: $color-foreground;
    width: 100%;
    height: 100%;
    $height-header: 48px;

    .content {
        height: calc(100% - #{$height-header});

        :global svg {
            width: 100%;
            height: 100%;

            .bar {
                fill: $color-accent;
            }

            .bar-selected {
                fill: $color-bar-selected;
            }

            .axis {
                line,
                path {
                    stroke: $color-background-header-alt;
                }

                text {
                    fill: $color-text;
                }
            }
        }
    }
}
