@import '../../../../stylesheets/base';

.list-view {
    &.list-view-empty {
        display: flex;
        flex-direction: column;

        .empty {
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: center;
            color: $color-text-disabled;
        }
    }
}
