@import '../../../../stylesheets/base';

.list-view {
    &.list-view-empty {
        display: flex;
        flex-direction: column;

        .empty {
            @extend %empty-text;
        }
    }
}
