@import '../../../stylesheets/base';

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $color-text-disabled;
    font-size: $font-size-large;
}
