@import '../../../stylesheets/base';

.message {
    @extend %empty-text;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing-small;
    text-align: center;
}
