@import '../../../stylesheets/utils';

.force-directed-graph-container {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow-y: auto;

    .tooltip {
        @include shadow-medium;
        position: fixed;
        background-color: var(--color-foreground);
        padding: var(--spacing-small) var(--spacing-medium-alt);
        color: var(--color-text);
    }

    .links {
        stroke: var(--color-links);
    }

    .circle {
        opacity: .6;
    }

    .nodes {
        &:hover,
        &.active-node {
            .circle {
                opacity: 1;
            }
        }
    }

    .input-slider {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    .force-directed-graph {
        flex: 1 1 auto;
    }
}
