
.force-directed-graph-container {

    .tooltip {
        @include shadow-medium;
        position: fixed;
        background-color: var(--color-foreground);
        padding: var(--spacing-small) var(--spacing-medium-alt);
        color: var(--color-text);

        .name {
            display: block;
        }

        .value {
            display: block;
            text-align: center;
            color: var(--color-text);
            font-size: 2em;
        }
    }

    .links {
        stroke: var(--color-links);
    }

    .circle {
        opacity: .6;
    }

    .nodes {
        &:hover,
        &.active-node {
            .circle {
                opacity: 1;
            }
        }
    }

    .input-slider {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    .force-directed-graph {
        flex: 1 1 auto;
    }
}
