@import '../../../stylesheets/base';

.table {
    width: 100%;
    border-spacing: 0;

    thead {
        background-color: $color-foreground;

        tr {
            background-color: $color-background-header;

            th {
                position: sticky;
                top: 0;
                border-right: $width-separator-thin solid $color-separator;
                border-bottom: $width-separator-normal solid $color-separator;
                border-left: $width-separator-thin solid $color-separator;
                background-color: $color-background-header;
                padding: $spacing-small $spacing-medium;
                text-align: left;
                text-transform: uppercase;
                font-size: $font-size-small;
                font-weight: $font-weight-normal;
                user-select: none;

                &.sortable {
                    cursor: pointer;

                    &:hover {
                        background-color: $color-background-header-alt;
                    }

                    &::before {
                        display: inline-block;
                        transform: rotate(90deg);
                        margin-right: $spacing-small;
                        // width: $width-icon-medium;
                        font-family: 'Ionicons';
                        content: '\f268';
                    }

                    &.active {
                        color: $color-accent;

                        &::before {
                            transform: rotate(0);
                        }

                        &.asc {
                            &::before {
                                content: '\f35d';
                            }
                        }

                        &.dsc {
                            &::before {
                                content: '\f366';
                            }
                        }

                    }
                }
            }

        }
    }

    tbody {
        background-color: $color-background;

        tr {
            background-color: $color-foreground;

            td {
                padding: $spacing-medium-alt;

                &.empty-data {
                    padding: $spacing-medium;
                    text-align: center;
                    color: $color-label;
                }

                &.hoverable {
                    &:hover {
                        background-color: $color-background-hover;
                        color: $color-text;
                    }
                }

                &.highlight {
                    background-color: $color-accent;
                    color: $color-text-on-accent;

                    &:hover {
                        background-color: $color-accent;
                        color: $color-text-on-accent;
                    }
                }
            }

            &:nth-child(even) {
                background-color: $color-background-alt-row;
            }

            &.hoverable {
                &:hover {
                    background-color: $color-background-hover;
                    color: $color-text;
                }
            }

            &.highlight {
                background-color: $color-accent;
                color: $color-text-on-accent;

                &:hover {
                    background-color: $color-accent;
                    color: $color-text-on-accent;
                }
            }
        }
    }
}


