@import '../../../../../stylesheets/base';

.row {
    background-color: $color-background-row-alt;

    &.hoverable {
        &:hover {
            background-color: $color-background-hover;
            color: $color-text;
        }
    }

    &.highlighted {
        @include background-color($color-accent);
    }

    &:nth-child(odd) {
        background-color: $color-background-row;
    }
}
