@import '../../../../../stylesheets/base';

.row {
    @extend %background-alternating-row;
    transition: $duration-transition-medium background-color ease-in-out, $duration-transition-medium color ease-in-out;

    &.hoverable {
        &:hover {
            background-color: $color-background-hover;
            color: $color-text;
        }
    }

    &.highlighted {
        @include background-color($color-accent);
    }
}
