
.new-header {
    position: relative;
    width: 100%;

    .original-header-container {
        padding-right: var(--spacing-extra-small);
        width: 100%;
    }

    .separator {
        position: absolute;
        top: 0;
        right: 0;
        align-self: center;
        flex-shrink: 0;
        z-index: 1;
        border-right: var(--width-separator-thin) solid var(--color-separator);
        cursor: col-resize;
        width: var(--spacing-small);
        height: 100%;
    }
}
