@import '../../../../stylesheets/base';

.new-header {
    position: relative;
    width: 100%;

    .original-header-container {
        padding-right: $spacing-extra-small;
        width: 100%;
    }

    .separator {
        position: absolute;
        top: $spacing-small;
        right: 0;
        align-self: center;
        flex-shrink: 0;
        z-index: 1;
        border-right: $width-separator-thin solid $color-separator-alt;
        cursor: col-resize;
        width: $spacing-small;
        height: calc(100% - #{$spacing-small * 2});
    }

    &.resizing {
        .original-header-container {
            pointer-events: none;
        }
    }
}
