@import '../../../stylesheets/base';

.drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    border: $width-separator-medium solid $color-separator;
    color: $color-text-label;
}
