:root {
    --width-dismiss-button: 24px;
}

.dismissable-list-item {
    display: flex;
    overflow: hidden;

    .list-item {
        flex-grow: 1;
    }

    .dismiss-button {
        flex-shrink: 0;
        transform: translateX(100%);
        opacity: 0;
        padding: 0 var(--spacing-small);
    }

    &:hover {
        background-color: var(--color-background-accent-hint);

        .dismiss-button {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &.consize {
        position: relative;
        margin: var(--spacing-extra-small);
        border: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        padding-right: var(--width-dismiss-button);

        .dismiss-button {
            position: absolute;
            right: 0;
            background-color: #fff;
        }
    }
}
