@import '../../../../stylesheets/base';

.segment {
    @include transition-medium;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    transform-origin: 50% 50%;
    cursor: pointer;
    height: 100%;

    &:hover {
        @include shadow-small;
        z-index: 10000;

        &.enlarge {
            transform: scale(1.08);
        }
    }

    .value {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:nth-child(2) {
        .value {
            left: $spacing-small;
            transform: translate(0, -50%);
        }
    }

    &:last-child {
        .value {
            right: $spacing-small;
            left: auto;
            transform: translate(0, -50%);
        }
    }
}
