@import '../../../../stylesheets/base';

.grid-layout {
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;

    &:not(.view-only) {
        background-image: linear-gradient(to right, $color-separator 1px, transparent 1px), linear-gradient(to bottom, $color-separator 1px, transparent 1px);
    }

    .grid-item {
        @include transition-medium;
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: $color-foreground;

        .header {
            display: flex;
            flex-shrink: 0;
            justify-content: space-between;

            .heading {
                flex-basis: 100%;
                background-color: $color-accent;
                padding: $spacing-small $spacing-medium;
                color: $color-text-on-accent;
                font-size: $font-size-small;
            }
        }

        .content {
            flex-grow: 1;
        }

        &:not(.view-only) {
            .header {
                .heading {
                    cursor: grab;
                }
            }

            .resize-handle {
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                background-color: $color-accent;
                cursor: se-resize;
                width: 10px;
                height: 10px;
            }

            &.dragging {
                @include shadow-small;
                transition: none;
                opacity: .8;
                z-index: 11;
            }

            &.resizing {
                transition: none;
                opacity: .8;
                z-index: 11;
                border: 1px solid red;
            }
        }
    }

    .ghost-item {
        @include transition-medium;
        position: absolute;
        z-index: 10;
        background-color: rgba(0, 0, 0, .1);
    }
}
