@import '../../../../stylesheets/base';

.grid-layout {
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;

    .grid-item {
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: $color-foreground;
        width: 200px;
        height: 200px;

        .header {
            display: flex;
            flex-shrink: 0;
            justify-content: space-between;

            .heading {
                flex-basis: 100%;
                background-color: $color-accent;
                cursor: grab;
                padding: $spacing-small $spacing-medium;
                color: $color-text-on-accent;
                font-size: $font-size-small;
            }
        }

        .content {
            flex-grow: 1;
        }

        .resize-handle {
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: $color-accent;
            cursor: se-resize;
            width: 10px;
            height: 10px;
        }

        &.dragging {
            @include shadow-small;
            z-index: 1;
        }

        &.resizing {
            z-index: 1;
        }
    }
}
