
.footer {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-end;
    border-top: var(--width-separator-thin) solid var(--color-separator);
    padding: var(--spacing-medium) var(--spacing-medium-alt);

    >* {
        margin-left: var(--spacing-medium);
    }
}
