@import '../../../stylesheets/base';

.virtualized-list-view {
    padding: 0;

    .virtual-div {
        background: linear-gradient(
            to bottom,
            $color-background-row,
            $color-background-row 50%,
            $color-background-row-alt 50%,
            $color-background-row-alt
        );
    }

    .item {
        animation: fade-in $duration-transition-medium forwards;
    }

    .empty {
        @extend %empty-text;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
