@import '../../../stylesheets/utils';

.virtualized-list-view {
    position: relative;
    padding: 0;
    overflow: auto;

    .virtual-div {
        background: linear-gradient(
            to bottom,
            var(--color-background-row),
            var(--color-background-row) 50%,
            var(--color-background-row-alt) 50%,
            var(--color-background-row-alt)
        );
    }

    .item {
        animation: fade-in var(--duration-transition-medium) forwards;
    }

    .empty {
        @extend %empty-text;
        position: sticky;
        top: 0;
        left: 0;
    }

    .empty-min-width-container {
        visibility: hidden;
        height: 1px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
