@import '../../../stylesheets/base';
@import '../../../stylesheets/input-label';

.input-label {
    @extend %input-label;

    &.empty {
        visibility: hidden;
    }

    &.active {
        color: $color-accent;
    }

    &.error {
        color: $color-danger;
    }

    &.disabled {
        color: $color-text-disabled;
    }
}
