@import '../../../stylesheets/base';

.segment-input {
    .segment-container {
        display: inline-flex;
        flex-wrap: wrap;
        margin: 0;
    }

    .label {
        padding-bottom: $spacing-extra-small;
    }

    &.error {
        .segment-container {
            // border: $width-separator-thin solid $color-danger;
        }
    }

    &.disabled {
        .segment-container {
            // border: $width-separator-thin solid $color-separator-light;
        }
    }
}
