
.segment-input {
    .segment-container {
        display: inline-flex;
        flex-wrap: wrap;
        margin: 0;
    }

    .label {
        padding-bottom: var(--spacing-extra-small);
    }

    &.error {
        .segment-container {
            // border: var(--width-separator-thin) solid var(--color-danger);
        }
    }

    &.disabled {
        .segment-container {
            // border: var(--width-separator-thin) solid var(--color-separator-light);
        }
    }
}
