:global .tooltip {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #616161;
    padding: 6px 12 px;

    .name {
        display: block;
    }
}
.force-directed-graph {
    width: 100%;
    height: 100%;
}
