
:root {
    --width-modal-small: 420px;
}

.alert {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: var(--color-foreground);
    width: var(--width-modal-small);

    .ok-button {
        box-shadow: none;
        min-width: 72px;
    }
}

