@import '../../../stylesheets/base';
@import '../../../stylesheets/visualizations';

.summary-tiles-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .action {
        @extend %action;
    }

    .summary-tiles {
        flex-grow: 1;
    }
}
