@import '../../../stylesheets/base';

.list-input {
    .item {
        display: flex;
        align-items: center;
        background-color: $color-background-row;

        &:nth-child(even) {
            background-color: $color-background-row-alt;
        }

        .label {
            padding: $spacing-small $spacing-small-alt;
            width: calc(100% - #{$width-icon-large});
        }

        .action {
            display: none;
            color: $color-danger;
        }

        &:hover .action {
            display: initial;
        }
    }
}
