.list-input {
    .item {
        display: flex;
        align-items: center;
        background-color: var(--color-background-row);
        padding: var(--spacing-small) var(--spacing-extra-small);

        &:nth-child(even) {
            background-color: var(--color-background-row-alt);
        }

        .label {
            padding: var(--spacing-small) var(--spacing-small-alt);
            width: calc(100% - var(--width-icon-large));
        }

        .action {
            display: none;
            color: var(--color-danger);
        }

        &:hover {
            background-color: var(--color-background-accent-hint);

            .action {
                display: initial;
            }
        }
    }

    &.disabled {
        .item {
            .label {
                color: var(--color-text-disabled);
            }
        }
    }

    &.disabled,
    &.readOnly {
        .item {
            pointer-events: none;
        }
    }
}
