@import '../../../stylesheets/base';

$width-resizable-separator: 10px;

.resizable-h {
    .left {
        position: relative;
        padding: 0;

        .separator {
            position: absolute;
            top: 0;
            right: -($width-resizable-separator / 2);
            z-index: 1111;
            cursor: col-resize;
            width: $width-resizable-separator;
            height: 100%;

            .separator-rule {
                @include transition-medium;
                margin: auto;
                width: $width-separator-medium;
                height: 100%;
                background-color: transparent;
            }

            &:hover {
                .separator-rule {
                    background-color: $color-accent;
                }
            }
        }
    }

    .right {
        padding: 0;
    }

    &.resizing {
        user-select: none;
        cursor: col-resize;

        .separator {
            .separator-rule {
                background-color: $color-accent;
            }
        }
    }
}
