@import '../../../stylesheets/base';
@import '../../../stylesheets/visualizations';

.sunburst-view {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .action {
        @extend %action;
    }

    .sunburst {
        flex-grow: 1;
    }
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    color: $color-danger;
}

.sunburst {
    width: 100%;
    height: 100%;
}
