@import '../../../stylesheets/base';

.drag {

    .brush {

        .leftTip {
            fill: $color-text-on-light;
        }

        .rightTip {
            fill: $color-text-on-light;
        }

    }

    .selection {
        fill: $color-primary-light;
    }
}
