@import '../../../stylesheets/base';

.time-series {
    background-color: $color-foreground;
    width: 100%;
    height: 100%;
    $height-header: 48px;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 $spacing-medium;
        height: $height-header;

        h3 {
            color: $color-label;
            font-weight: $font-weight-normal;
        }
    }

    .content {
        height: calc(100% - #{$height-header});

        svg {
            width: 100%;
            height: 100%;
        }
    }

}
