@import '../../../stylesheets/base';

.chord-diagram-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;

    .tooltip {
        @include shadow-medium;
        display: none;
        position: fixed;
        z-index: 10;
        background-color: $color-foreground;
        padding: $spacing-small $spacing-medium-alt;
        color: $color-text;

        .name {
            display: block;
        }
    }

    .chord-diagram {
        flex: 1 1 auto;

        .arcs {
            cursor: pointer;
        }

        .glow {
            box-shadow: inset 0 0 8px $color-shadow-light;
        }
    }
}
