@import '../../../stylesheets/utils';

.chord-diagram {
    .chords {
        .path {
            cursor: pointer;
            stroke: #dcdcdc;
        }
    }

    .ribbons {
        .path {
            stroke: #dcdcdc;
        }
    }
}

.tooltip {
    @include shadow-medium;

    display: none;
    position: fixed;
    z-index: 10;
    background-color: var(--color-foreground);
    padding: var(--spacing-small) var(--spacing-medium-alt);
    color: var(--color-text);

    .label {
        display: block;
    }
}
