@import '../../../stylesheets/base';

$width-icon: 16px;

.search-input {
    position: relative;

    .icon {
        display: flex;
        position: absolute;
        top: 0;
        bottom: $spacing-extra-small;
        left: $spacing-extra-small;
        align-items: center;
        justify-content: center;
        transform: orgin(50%, 50%);
        width: $width-icon;
        color: $color-text-label;

        &.disabled {
            color: $color-text-disabled;
        }
    }

    .text-input {
        :global {
            .input {
                padding-left: $width-icon;
            }
        }
    }
}
