@import '../../../../stylesheets/base';

.list-item {
    outline: 0;
    border: 0;
    border-bottom: $width-separator-thin solid $color-separator;
    border-left: $width-separator-thick solid transparent;
    background-color: transparent;
    cursor: pointer;
    padding: $spacing-small;
    width: 100%;
    text-align: left;
    font-family: inherit;
    font-size: inherit;

    &.active {
        border-left: $width-separator-thick solid $color-accent;
        background-color: $color-background-selected;
    }

    &:hover {
        background-color: $color-background-hover;
    }
}
