@import '../../../stylesheets/base';

.grid-layout-editor {
    background-image:
        linear-gradient(
            to right,
            $color-separator 1px,
            transparent 1px
        ),
        linear-gradient(
            to bottom,
            $color-separator 1px,
            transparent 1px
        );
    overflow: auto;

    .container {
        position: relative;
    }
}
