
.grid-layout-editor {
    background-image:
        linear-gradient(
            to right,
            var(--color-separator) 1px,
            transparent 1px
        ),
        linear-gradient(
            to bottom,
            var(--color-separator) 1px,
            transparent 1px
        );
    overflow: auto;

    .container {
        position: relative;
    }
}
