@import '../../../../stylesheets/base';

.options {
    background-color: $color-foreground;
    padding: $spacing-small 0;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    color: $color-text-on-foreground;

    .empty {
        padding: $spacing-small-alt $spacing-small;
        text-align: center;
        color: $color-text-disabled;
    }
}
