@import '../../../../stylesheets/base';

.options {
    background-color: $color-foreground;
color: $color-text-on-foreground;
    padding: $spacing-small 0;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;

    .empty {
        padding: $spacing-small-alt $spacing-small;
        text-align: center;
        color: get-text-color($color-foreground, $color-text-disabled-on-light, $color-text-disabled-on-dark);
    }
}
