
.option {
    cursor: pointer;

    .input {
        display: none;
    }

    .radio {
        display: inline-block;
        margin-right: var(--spacing-small);
    }

    .label {
        display: inline-block;
    }

    &.checked {
        .radio {
            color: var(--color-accent);
        }
    }

    &:not(:last-child) {
        margin-right: var(--spacing-medium);
    }

    &.disabled {
        .label {
            color: var(--color-text-disabled);
        }

        .radio {
            color: var(--color-text-disabled);
        }
    }

    &.read-only {
        .radio {
            color: var(--color-text);
        }
    }
}
