@import '../../../../stylesheets/base';

.item-icon {
    display: inline-block;
    width: $width-icon-large-alt;
}

:global {
    .ion-chevron-down {
        transition: .2s all ease-in-out;
    }

    #dropdown-container {
        z-index: 111;
    }
}

.rotated {
    transform: rotate(180deg);
}

.dropdown-container {
    @include shadow-small;
    background-color: $color-foreground;
    min-width: 192px;
}

.dropdown-menu {
    .dropdown-header {
        display: flex;
        justify-content: space-between;
        outline: none;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        padding: 0 $spacing-medium;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        color: inherit;
        font-family: inherit;
        font-size: inherit;

        &:hover {
            background-color: $color-hover;
        }
    }

    .dropdown-icon {
        margin-left: $spacing-medium-alt;
    }
}

.dropdown-list {
    @include shadow-small;
    background-color: $color-foreground;
    width: 100%;
    color: $color-text;
}

.group {
    border-bottom: $width-separator-thin solid $color-separator;
}

.group-header {
    background-color: $color-background-header-alt;
    padding: $spacing-small $spacing-medium;
    text-transform: capitalize;
}

.dropdown-item {
    display: flex;
    outline: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: $spacing-medium-alt $spacing-large;
    text-align: left;
    text-transform: uppercase;
    font-family: inherit;
    font-size: inherit;

    .icon {
        display: inline-block;
        flex-basis: $width-icon-extra-large;
        flex-shrink: 0;
    }

    .label {
        flex-grow: 1;
        color: $color-text;
    }

    &:hover {
        background-color: $color-background-header;
    }
}

.shown {
    display: inline-block;
}

