@import '../../../stylesheets/utils';

.dropdown-container {
    @include shadow-small;
    background-color: var(--color-foreground);
}

.active {
    background-color: var(--color-background-accent-hint);
}

%button-basic {
    outline: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.dropdown-menu {
    .dropdown-button {
        @extend %button-basic;
        display: flex;
        align-items: center;
        padding: var(--spacing-extra-small) var(--spacing-small);
        width: 100%;
        height: 100%;

        &:hover {
            background-color: var(--color-background-hover);
        }

        .left-icon {
            flex-shrink: 0;
            padding: 0 var(--spacing-small);
        }

        .title {
            flex-grow: 1;
        }

        &.has-left {
            .title {
                padding-left: var(--spacing-small);
            }
        }

        .dropdown-icon {
            flex-shrink: 0;
            padding: 0 var(--spacing-small);
        }
    }
}
