@import '../../../stylesheets/base';

.dropdown-container {
    @include shadow-small;
    background-color: $color-foreground;
}

.active {
    background-color: $color-background-selected;
}

%button-basic {
    outline: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.dropdown-menu {
    .dropdown-button {
        @extend %button-basic;
        display: flex;
        align-items: center;
        padding: $spacing-small $spacing-extra-small;
        width: 100%;
        height: 100%;

        &:hover {
            background-color: $color-background-hover;
        }

        .left-icon {
            flex-shrink: 0;
            padding: 0 $spacing-small;
        }

        .title {
            flex-grow: 1;
        }

        &.has-left {
            .title {
                padding-left: $spacing-small;
            }
        }

        .dropdown-icon {
            flex-shrink: 0;
            padding: 0 $spacing-small;
        }
    }
}
