@import '../../../stylesheets/base';

.floating-container {
    @include shadow-small;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    border: $width-separator-thin solid $color-separator;
    background-color: $color-foreground;
}
