@import '../../../stylesheets/input-base';
@import '../../../stylesheets/input-border';

.number-input {
    .input {
        @extend %input-base;
        @extend %input-border;
    }

    &.focused {
        .label {
            color: var(--color-accent);
        }
    }

    &.error {
        .input {
            border-bottom-color: var(--color-danger);
        }

        .label {
            color: var(--color-danger);
        }
    }

    &.required {
        .label {
            font-weight: var(--font-weight-medium);

            &::after {
                content: '*';
            }
        }
    }

    &.disabled {
        .label {
            color: var(--color-text-disabled);
        }

        .input {
            border-bottom-color: var(--color-separator);
            color: var(--color-text-disabled);
        }
    }
}
