@import '../../../../stylesheets/base';

.text-input {
    .label {
        width: 100%;
        text-transform: uppercase;
        color: $color-label;
        font-size: $font-size-extra-small;
    }

    .input {
        outline: 0;
        border: 0;
        border-bottom: $width-separator-medium solid $color-separator-alt;
        background-color: transparent;
        padding: $spacing-extra-small 0;
        width: 100%;
        color: $color-text;
        font-family: inherit;
        font-size: inherit;

        &::placeholder {
            color: $color-text-disabled;
        }

        &:hover {
            border-bottom-color: $color-separator-hover;
        }

        &:focus {
            border-bottom: $width-separator-normal solid $color-accent;
        }
    }

    &.focused {
        .label {
            color: $color-accent;
        }
    }

    &.error {
        .input {
            border-bottom-color: $color-danger;
        }

        .label {
            color: $color-danger;
        }

    }

    &.required {
        .label {
            font-weight: $font-weight-medium;

            &::after {
                content: '*';
            }
        }
    }

    &.disabled {
        .label {
            color: $color-text-disabled;
        }

        .input {
            border-bottom-color: $color-separator;
            color: $color-text-disabled;
        }
    }

    %base {
        margin: $spacing-extra-small 0 0;
        font-size: $font-size-extra-small;
    }

    .hint {
        @extend %base;
        color: $color-label;
    }

    .error {
        @extend %base;
        color: $color-danger;
    }

    .empty {
        @extend %base;
        visibility: hidden;
    }
}
