@import '../../../stylesheets/input-border';

.text-input {
    .input {
        @extend %input-border;
    }

    &.error {
        .input {
            border-bottom-color: var(--color-danger);
        }
    }

    &.disabled {
        .input {
            border-bottom-color: var(--color-separator);
            color: var(--color-text-disabled);
        }
    }
}
