@import '../../../stylesheets/base';

:global .eventdrops {
    width: 100%;
    height: 100%;

    .tooltip {
        @include shadow-medium;
        position: absolute;
        background-color: $color-foreground;
        padding: $spacing-small $spacing-medium-alt;
        color: $color-text;
    }
}
