@import '../../../stylesheets/base';

:global {
    .tree-node {
        background-color: $color-foreground;

        > .parent-node {
            display: flex;
            align-items: center;
            padding: $spacing-small;

            .drag-handle {
                cursor: move;
                padding: $spacing-extra-small;
            }

            .checkbox {
                background-color: transparent;
                padding: $spacing-extra-small;
                color: $color-accent;
                font-size: $font-size-medium-alt;

                &.unchecked {
                    color: $color-text;
                }
            }

            .node-title {
                background-color: transparent;
                padding: $spacing-extra-small;
                text-transform: none;
            }

            .expand-arrow {
                padding: $spacing-extra-small;
                font-size: $font-size-medium;
            }
        }

        > .tree-selection {
            margin-left: $spacing-medium;
        }
    }

    body {
        >.tree-node {
            @include shadow-small;
        }
    }
}
