@import '../../../stylesheets/base';

.tree-node {
    background-color: $color-foreground;

    .drag-handle {
        cursor: move;
        padding: $spacing-extra-small $spacing-medium;
        color: $color-text-label;
    }

    .parent-node {
        display: flex;
        align-items: center;
        padding: $spacing-small;


        .checkbox {
            margin-right: $spacing-small;
            background-color: transparent;
            padding: $spacing-extra-small;
            color: $color-accent;
            font-size: $font-size-medium-alt;
        }

        .node-title {
            background-color: transparent;
            padding: $spacing-extra-small;
            text-transform: none;
            font-size: inherit;
            font-weight: inherit;
        }

        .expand-arrow {
            margin-left: $spacing-small;
            padding: $spacing-extra-small;
            color: $color-text-label;
            font-size: $font-size-small;
        }
    }

    .tree-selection {
        margin-left: $spacing-medium;
    }
}
