.horizontal-bar-chart {
    overflow: auto;

    .svg {
        .bars {
            .bar {
                fill: var(--color-accent);
                opacity: .2;

                &:hover {
                    opacity: .3;
                }
            }
        }

        .label {
            color: var(--color-text-label);
            font-size: var(--font-size-small);
        }

        .x-axis {
            stroke-width: var(--width-separator-medium);
            stroke: var(--color-accent);
        }
    }
}
