@import '../../../stylesheets/base';

.horizontal-bar-chart {
    display: flex;
    align-items: center;
    justify-content: center;

    .svg {
        .bars {
            .bar {
                fill: $color-accent;
                opacity: .2;

                &:hover {
                    opacity: .3;
                }
            }
        }

        .x-axis {
            stroke-width: $width-separator-medium;
            stroke: $color-accent;
        }
    }
}
