%button-base {
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: $spacing-extra-small $spacing-small;
    color: $color-text;
    font-family: inherit;
    font-size: inherit;
}
