%button-base {
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: var(--spacing-extra-small) var(--spacing-small);
    color: var(--color-text);
    font-family: inherit;
    font-size: inherit;
}
