%input-border {
    border-bottom: var(--width-separator-thin) solid var(--color-separator);

    &:hover {
        border-bottom-color: var(--color-separator-hover);
    }

    &:focus {
        border-bottom-color: var(--color-accent);
    }
}
