%input-label {
    overflow: hidden;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--color-text-label);
    font-size: var(--font-size-extra-small);
    font-weight: var(--font-weight-bold);
}
