%input-border {
    border-bottom: $width-separator-thin solid $color-separator;

    &:hover {
        border-bottom-color: $color-separator-hover;
    }

    &:focus {
        border-bottom-color: $color-accent;
    }
}
