%input-base {
    outline: 0;
    border: 0;
    background-color: transparent;
    padding: var(--spacing-extra-small) 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--color-text);
    font-family: inherit;
    font-size: inherit;

    &::placeholder {
        color: var(--color-text-placeholder);
    }
}
