@mixin shadow-medium() {
    box-shadow: 0 $spacing-small $radius-blur-medium $radius-spread-medium $color-shadow-medium;
}

@mixin shadow-small() {
    box-shadow: 0 $spacing-extra-small $radius-blur-small $radius-spread-small $color-shadow-medium;
}

@mixin shadow-small-upward() {
    box-shadow: 0 (-$spacing-extra-small) $radius-blur-small $radius-spread-small $color-shadow-medium;
}

@mixin shadow-large() {
    box-shadow: 0 $spacing-small-alt $radius-blur-medium $radius-spread-medium $color-shadow-medium;
}

@mixin shadow-large-upward() {
    box-shadow: 0 (-$spacing-small-alt) $radius-blur-medium $radius-spread-medium $color-shadow-medium;
}

@mixin shadow-large-dark() {
    box-shadow: 0 $spacing-small-alt $radius-blur-medium $radius-spread-medium $color-shadow-dark;
}

@mixin shadow-button() {
    box-shadow: 0 1px 3px -1px $color-shadow-medium;
}

@mixin shadow-button-active() {
    box-shadow: 0 1px 2px -1px $color-shadow-medium;
}

@mixin transition-slow() {
    transition: $duration-transition-slow all ease-in-out;
}

@mixin transition-medium() {
    transition: $duration-transition-medium all ease-in-out;
}

@mixin transition-fast() {
    transition: $duration-transition-fast all ease-in-out;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

// Newton's method for calculation of square roots
@function sqrt($r) {
    $x0: 1;
    $x1: $x0;

    @for $i from 1 through 10 {
        $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
        $x0: $x1;
    }

    @return $x1;
}

@function get-luminance($color) {
    $r: red($color);
    $g: green($color);
    $b: blue($color);
    $l: sqrt(.299 * $r * $r + .587 * $g * $g + .114 * $b * $b);
    @return $l;
}

@function get-text-color($background-color, $color-for-light: $color-text-on-light, $color-for-dark: $color-text-on-dark) {
    $l: get-luminance($background-color);
    @if ($l > 176) {
        @return $color-for-light;
    }

    @return $color-for-dark;
}

@mixin background-color($background-color) {
    background-color: $background-color;
    color: get-text-color($background-color);
}

@mixin outline-button($background-color) {
    outline-offset: -$spacing-extra-small-alt;
    outline: $width-separator-thin dotted get-text-color($background-color);
}

@function get-hover-color($color) {
    @return darken($color, 10%);
}
