@import '../../../stylesheets/base';

$timeseries-primary-color: #008080 !default;
$timeseries-color-overlay: #9cc !default;
$timeseries-stroke-overlay: #fff !default;

.time-series {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 100%;

    svg {
        height: 100%;
        width: 100%;
        flex-grow: 1;

        :global {

            .axis {
                line,
                path {
                    stroke: $color-background-header-alt;
                }

                text {
                    fill: $color-text;
                }
            }

            .time-area {
                path {
                    stroke: $timeseries-primary-color;
                    fill: $timeseries-primary-color;
                }
            }

            .time-path {
                path {
                    stroke: $timeseries-primary-color;
                    fill: transparent;
                }
            }

            .overlay {
                fill: none;
                pointer-events: all;
            }

            .overlay-line {
                opacity: 0;
                stroke: $timeseries-color-overlay;
                fill: $timeseries-color-overlay;
            }

            .overlay-circle {
                opacity: 0;
                stroke: $timeseries-stroke-overlay;
                fill: $timeseries-primary-color;
            }
        }
    }
}
