@import '../../../stylesheets/base';

$timeseries-primary-color: #008080;;
$timeseries-color-overlay: #99cccc;

.time-series {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 100%;

    svg {
        height: 100%;
        width: 100%;
        flex-grow: 1;

        :global {

            .axis {
                line,
                path {
                    stroke: $color-background-header-alt;
                }

                text {
                    fill: $color-text;
                }
            }

            .time-area {
                path {
                    fill: $timeseries-primary-color;
                    stroke: $timeseries-primary-color;
                }
            }

            .time-path {
                path {
                    fill: transparent;
                    stroke: $timeseries-primary-color;
                }
            }

            .overlay {
                fill: none;
                pointer-events: all;
            }

            .overlay-line {
              fill: $timeseries-color-overlay;
              stroke: $timeseries-color-overlay;
              opacity: 0;
            }

            .overlay-circle {
              fill: $timeseries-primary-color;
              stroke: white;
              opacity: 0;
            }
        }
    }
}
