@import '../../../../stylesheets/base';

.time-series {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 100%;

    svg {
        height: 100%;
        width: 100%;
        flex-grow: 1;

        :global {

            .axis {
                line,
                path {
                    stroke: $color-background-header-alt;
                }

                text {
                    fill: $color-text;
                }
            }

            .time-area {
                path {
                    fill: blue;
                    stroke: blue;
                }
            }

            .overlay {
              fill: none;
              pointer-events: all;
            }

            .overlay-line,
            .overlay-circle {
              display: none;
              fill: red;
              stroke: red;
            }
        }
    }
}
