@import '../../../stylesheets/base';
@import '../../../stylesheets/modal';

$width-modal-small: 420px !default;

.modal {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    flex-direction: column;
    box-shadow: 0 $spacing-small $spacing-extra-large $color-shadow-medium;
    background-color: $color-foreground;
    width: $width-modal-medium;
    max-height: 96vh;
    animation: fade-in-from-top .3s ease forwards;
}

@keyframes fade-in-from-top {
    from {
        transform: translate(-50%, -60%);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}
