@import '../../../../stylesheets/base';
@import '../../../../stylesheets/modal';

$width-modal-small: 420px !default;

:global .modal-wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
}

%modal-basic {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: $color-foreground;
}

.modal-content {
    @extend %modal-basic;
    width: $width-modal-medium;
    max-height: 96vh;
}

.alert-content,
.confirm-content {
    @extend %modal-basic;
    width: $width-modal-small;

    .ok-button {
        box-shadow: none;
        min-width: 72px;
    }

    .cancel-button {
        box-shadow: none;
    }
}

.header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: $width-separator-medium solid $color-separator;
    padding: $spacing-medium $spacing-medium-alt;

    .heading {
        font-size: $font-size-large;
        font-weight: $font-weight-medium;
    }
}

.body {
    flex-grow: 1;
    padding: $spacing-medium-alt;
    overflow-y: auto;
}

.footer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    background-color: $color-background;
    padding: $spacing-medium $spacing-medium-alt;

    >* {
        margin-left: $spacing-medium;
    }
}

