.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    padding: var(--spacing-medium) var(--spacing-medium-alt);

    .heading {
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-medium);
    }
}
