@import '../../../stylesheets/base';

.organigram {
    width: 100%;
    height: 100%;
}

.info {
    position: absolute;
    top: $spacing-small;
    right: $spacing-small;
    cursor: pointer;
    color: $color-accent;
}

