@import '../../../../stylesheets/base';


.date-picker-wrapper {
    @include shadow-medium;

    display: flex-inline;
    flex-wrap: wrap;
    z-index: 1;
    background-color: $color-foreground;
    padding: $spacing-small;

    .date-picker-header {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        justify-content: space-between;

        .month-title {
            text-align: center;
        }

        button {
            outline: none;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            padding: 4px;
            height: 100%;

            color: inherit;
            font-family: inherit;
            font-size: inherit;
        }
    }

    .days-header {
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;

        > span {
            flex: 1;
            padding: 4px;
            text-align: center;
        }
    }

    .weeks {
        display: table;
        flex-basis: 100%;
        width: 100%;

        .week {
            display: table-row;

            .day {
                display: table-cell;
                text-align: right;

                button {
                    outline: none;
                    border: 0;
                    background-color: transparent;
                    cursor: pointer;
                    padding: 4px;
                    width: 100%;
                    height: 100%;

                    color: inherit;
                    font-family: inherit;
                    font-size: inherit;
                }

                &.selected {
                    background-color: $color-accent;
                    color: $color-text-on-accent;
                }

                &.today {
                    border: 0;
                }
            }
        }
    }
}
