@import '../../../stylesheets/input-label';

.color-input {
    .label {
        @extend %input-label;
        padding-bottom: var(--spacing-extra-small);
    }

    .color-box {
        outline: none;
        border: var(--width-separator-medium) solid var(--color-separator);
        background-color: transparent;
        cursor: pointer;
        padding: var(--spacing-extra-small);

        .color {
            display: block;
            width: 32px;
            min-height: var(--font-size-medium);
        }

        &.disabled {
            cursor: default;

            .color {
                filter: grayscale(100%);
            }
        }

        &:hover {
            border-bottom-color: var(--color-separator-hover);
        }

        &:focus {
            border-bottom-color: var(--color-accent);
        }

        &.read-only {
            border-bottom-color: var(--color-separator);
            cursor: default;
        }
    }

    %base {
        margin: var(--spacing-extra-small) 0 0;
        font-size: var(--font-size-extra-small);
    }

    &.disabled {
        .label {
            color: var(--color-text-disabled);
        }
    }
}

.color-floating-container {
    border: none;
    background-color: transparent;
}
