@import '../../../../stylesheets/base';

.list-view {
    .empty {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: $spacing-medium;
        width: 100%;
        height: 100%;
    }
}

.list-item {
    padding: $spacing-small $spacing-medium;
}
