@import '../../../stylesheets/base';

.list-view {
    .empty {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: $spacing-medium;
        width: 100%;
        height: 100%;
        color: $color-label;
    }
}

.list-item {
    padding: $spacing-small $spacing-medium;
}
