
.table-header {
    border-top: var(--width-separator-thin) solid var(--color-separator);
    // border-bottom: var(--width-separator-thin) solid var(--color-separator);
    padding: var(--spacing-medium);
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;

    &.sortable {
        cursor: pointer;

        .icon {
            margin-right: var(--spacing-small);
        }

        &.active {
            color: var(--color-accent);
        }

        &:hover {
            background-color: var(--color-background-hover);
        }
    }
}
