@import '../../../stylesheets/base';

:global .modal-wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
}

.modal-content {
    margin: auto;
    background-color: $color-foreground;
    width: $width-modal-medium;
    max-height: 96vh;
    overflow: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: $width-separator-medium solid $color-separator;
    padding: 0 $spacing-large;
    height: $height-modal-header;

    .heading {
        font-size: $font-size-large;
        font-weight: $font-weight-medium;
    }
}

.body {
    padding: $spacing-large;
    max-height: calc(96vh - #{$height-modal-header} - #{$height-modal-footer});
    overflow: auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $color-background;
    padding: 0 $spacing-large;
    height: $height-modal-footer;

    >* {
        margin-left: $spacing-medium;
    }
}
