.confirm {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: var(--color-foreground);
    width: var(--width-modal-small);

    .ok-button {
        box-shadow: none;
        min-width: 64px;
    }

    .cancel-button {
        box-shadow: none;
    }
}

