@import '../../../../stylesheets/base';

.scale-legend {
    display: flex;
    flex-direction: column;
    background-color: $color-foreground;
    width: 340px;

    .scale {
        border-bottom: $width-separator-thin solid $color-accent;
        width: 100%;
        height: 12px;
    }

    .header {
        border-bottom: $width-separator-thin solid $color-accent;
        padding: $spacing-small $spacing-medium;
        color: $color-text-label;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
    }


    .scaleValues {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 $spacing-small;
        padding: $spacing-small 0;

        span {
            color: $color-text-label;
            font-size: $font-size-small;

            &.title {
                text-align: center;
                line-height: 1.1;
                font-weight: 600;
            }

            &.value {
                font-family: $font-family-monospace;
            }
        }
    }
}
