
.rotating-input {
    .label {
        padding-bottom: var(--spacing-extra-small);
    }

    &.error {
        .label {
            color: var(--color-danger);
        }

        .button {
            border: var(--width-separator-thin) solid var(--color-danger);
        }
    }

    &.required {
        .label {
            font-weight: var(--font-weight-medium);

            &::after {
                content: '*';
            }
        }
    }

    &.disabled {
        .label {
            color: var(--color-text-disabled);
        }
    }
}
