
.legend-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 186px;

    .left-child {
        display: flex;
        align-items: center;

        .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: var(--font-size-medium-alt);
            height: var(--font-size-medium-alt);
            overflow-y: hidden;

            .icon {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                font-size: 12px;
            }
        }

        .label {
            margin: 0 var(--spacing-small);
            color: var(--color-text-label);
            font-size: var(--font-size-small);
            font-weight: 600;
        }
    }
}
