@import '../../../stylesheets/base';

$radius-button-border: 2px !default;

@mixin button-props($base-color) {
    // border: $width-separator-thin solid $color-separator-light;
    // color: $color-text;
    // @include background-color($base-color);

    &:focus {
        @include outline-button($base-color);
    }

    &:not(:disabled) {
        border: $width-separator-thin solid $base-color;
        background-color: $color-foreground;
        color: $base-color;

        &:hover {
            background-color: $color-background-hover;
            // color: $base-color;
            // background-color: get-hover-color($base-color);
        }
    }
}

@mixin transparent-button-props ($base-color) {
    color: $base-color;

    &:focus {
        @include outline-button($color-foreground);
    }
}

.button {
    border: $width-separator-thin solid $color-separator-light;
    border-radius: $radius-button-border;
    background-color: transparent;
    padding: $spacing-small $spacing-small-alt;
    text-transform: uppercase;
    font-family: inherit;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;

    .pending-icon {
        animation: spin 1s linear infinite;
        font-size: inherit;
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &:not(:disabled) {
        &:active {
            // @include shadow-button-active;
            transform: translateY(1px);
        }
    }

    &:not(.transparent) {
        &:not(:disabled) {
            // @include shadow-button;
        }

        &.button-default {
            background-color: $color-foreground;
            color: $color-text;

            &:focus {
                @include outline-button($color-separator-alt);
            }

            &:not(:disabled) {
                border: $width-separator-thin solid $color-separator-alt;

                &:hover {
                    background-color: $color-background-hover;
                    // color: $color-text;
                    // background-color: get-hover-color($base-color);
                }
            }
            // @include button-props($color-foreground-alt);
        }

        &.button-accent {
            @include button-props($color-accent);
        }

        &.button-primary {
            @include button-props($color-primary);
        }

        &.button-danger {
            @include button-props($color-danger);
        }

        &.button-success {
            @include button-props($color-success);
        }

        &.button-warning {
            @include button-props($color-warning);
        }

        &:disabled {
            background-color: $color-background-disabled;
            color: $color-text-disabled;
        }
    }

    &.transparent {
        border: 0;

        &:focus {
            border-bottom: 0;
        }

        &.button-default {
            @include transparent-button-props($color-text);
        }

        &.button-accent {
            @include transparent-button-props($color-accent);
        }

        &.button-primary {
            @include transparent-button-props($color-primary);
        }

        &.button-danger {
            @include transparent-button-props($color-danger);
        }

        &.button-success {
            @include transparent-button-props($color-success);
        }

        &.button-warning {
            @include transparent-button-props($color-warning);
        }

        &:disabled {
            cursor: default;
            color: $color-text-disabled;
        }

    }

    &.with-icon-and-children {
        .icon {
            margin-right: $spacing-small;
        }
    }

    &.small-horizontal-padding {
        padding-right: 0;
        padding-left: 0;
    }

    &.small-vertical-padding {
        padding-top: 0;
        padding-bottom: 0;
    }
}
