@import '../../../stylesheets/utils';

@mixin button-props($base-color) {
    // border: var(--width-separator-thin) solid var(--color-separator-light);
    // color: var(--color-text);
    // @include background-color($base-color);

    &:focus {
        // @include outline-button($base-color);
    }

    &:not(:disabled) {
        border: var(--width-separator-thin) solid $base-color;
        background-color: var(--color-foreground);
        color: $base-color;

        &:hover {
            background-color: var(--color-background-hover);
            // color: $base-color;
            // background-color: get-hover-color($base-color);
        }
    }
}

@mixin transparent-button-props ($base-color) {
    color: $base-color;

    &:focus {
        // @include outline-button(var(--color-foreground));
    }
}

.button {
    --background-color: transparent;
    --color: var(--color-text);
    --border-color: transparent;

    border: var(--width-separator-thin) solid var(--border-color);
    border-radius: var(--radius-button-border);
    background-color: var(--background-color);
    padding: var(--spacing-small) var(--spacing-small-alt);
    text-transform: uppercase;
    color: var(--color);
    font-family: inherit;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);

    &:disabled {
        --background-color: var(--color-background-disabled);
        --color: var(--color-text-disabled);
        --border-color: var(--color-separator-light);
    }

    &:not(:disabled) {
        cursor: pointer;

        &.button-default {
            --color: var(--color-text);
        }

        &.button-accent {
            --color: var(--color-accent);
        }

        &.button-primary {
            --color: var(--color-primary);
        }

        &.button-danger {
            --color: var(--color-danger);
        }

        &.button-success {
            --color: var(--color-success);
        }

        &.button-warning {
            --color: var(--color-warning);
        }

        &:active {
            transform: translateY(1px);
        }

        &:not(.transparent) {
            --background-color: var(--color-foreground);

            &.button-default {
                --border-color: var(--color-separator);
            }

            &.button-accent {
                --border-color: var(--color-accent);
            }

            &.button-primary {
                --border-color: var(--color-primary);
            }

            &.button-danger {
                --border-color: var(--color-danger);
            }

            &.button-success {
                --border-color: var(--color-success);
            }

            &.button-warning {
                --border-color: var(--color-warning);
            }

            &:hover {
                --background-color: var(--color-background-hover);
            }
        }

    }


    &.transparent {
        --background-color: transparent;
        --border-color: transparent;

        &:disabled {
            --color: var(--color-text-disabled);
        }
    }

    .spinner {
        display: inline-flex;
        margin-right: var(--spacing-small);
        vertical-align: middle;
        color: var(--color-text);
    }

    &.with-icon-and-children {
        .icon {
            margin-right: var(--spacing-small);
        }
    }

    &.small-horizontal-padding {
        padding-right: 0;
        padding-left: 0;
    }

    &.small-vertical-padding {
        padding-top: 0;
        padding-bottom: 0;
    }
}
