@import '../../../stylesheets/base';

$radius-button-border: 2px !default;

@mixin button-props($base-color) {
    @include background-color($base-color);

    &:not(:disabled) {
        &:hover {
            background-color: get-hover-color($base-color);
        }
    }

    &:focus {
        @include outline-button($base-color);
    }
}

@mixin transparent-button-props ($base-color) {
    color: $base-color;

    &:focus {
        @include outline-button($color-foreground);
    }
}

.button {
    border: 0;
    border-radius: $radius-button-border;
    background-color: transparent;
    padding: $spacing-small $spacing-small-alt;
    text-transform: uppercase;
    font-family: inherit;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;

    &:not(:disabled) {
        cursor: pointer;
    }

    &:not(.transparent) {
        &:not(:disabled) {
            @include shadow-button;
        }

        &.button-default {
            @include button-props($color-foreground);
        }

        &.button-accent {
            @include button-props($color-accent);
        }

        &.button-primary {
            @include button-props($color-primary);
        }

        &.button-danger {
            @include button-props($color-danger);
        }

        &.button-success {
            @include button-props($color-success);
        }

        &.button-warning {
            @include button-props($color-warning);
        }

        &:disabled {
            background-color: $color-background-disabled;
            color: $color-text-disabled;
        }
    }

    &.transparent {
        &:focus {
            border-bottom: 0;
        }

        &.button-default {
            @include transparent-button-props($color-text);
        }

        &.button-accent {
            @include transparent-button-props($color-accent);
        }

        &.button-primary {
            @include transparent-button-props($color-primary);
        }

        &.button-danger {
            @include transparent-button-props($color-danger);
        }

        &.button-success {
            @include transparent-button-props($color-success);
        }

        &.button-warning {
            @include transparent-button-props($color-warning);
        }

        &:disabled {
            cursor: default;
            color: $color-text-disabled;
        }

    }

    &.with-icon-and-children {
        .icon {
            margin-right: $spacing-small;
        }
    }

    &.small-horizontal-padding {
        padding-right: 0;
        padding-left: 0;
    }

    &.small-vertical-padding {
        padding-top: 0;
        padding-bottom: 0;
    }

    .icon-button {
        margin-right: $spacing-small;

        &.transparent {
            color: $color-primary;
        }
    }

}
