@import '../../../../stylesheets/base';

.legend {
    border: $width-separator-thin solid $color-separator;
    background-color: $color-foreground;

    .header {
        border-bottom: $width-separator-thin solid $color-accent;
        padding: $spacing-small $spacing-medium;
        color: $color-text-label;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
    }
}
