
.legend {
    border: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);

    .header {
        border-bottom: var(--width-separator-thin) solid var(--color-accent);
        padding: var(--spacing-small) var(--spacing-medium);
        color: var(--color-text-label);
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-bold);
    }
}
