
.cell {
    padding: var(--spacing-small) var(--spacing-medium);

    &.hoverable {
        &:hover {
            background-color: var(--color-background-hover);
            color: var(--color-text);
        }
    }

    &.highlighted,
    &.column-highlighted {
        background-color: var(--color-accent);
        color: var(--color-text-on-accent);
    }

    &:not(:last-child) {
        border-right: var(--width-separator-thin) solid var(--color-separator-light);
    }
}
