.removable-list-item {
    display: flex;
    align-items: center;
    padding: var(--spacing-extra-small) var(--spacing-small);

    .label {
        flex-grow: 1;
        padding: var(--spacing-small) 0;
    }

    &.single-line {
        .label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .remove-button {
        flex-shrink: 0;
        transition: var(--duration-transition-medium) opacity ease-in-out;
        opacity: 0;
        padding: var(--spacing-extra-small) var(--spacing-small);
        font-size: var(--font-size-medium-alt);
    }

    &:hover {
        background-color: var(--color-background-accent-hint);

        .remove-button {
            opacity: 1;
        }
    }
}
