@import '../../../stylesheets/base';

.removable-list-item {
    display: flex;
    align-items: center;

    .label {
        flex-grow: 1;
    }

    &.single-line {
        .label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .remove-button {
        flex-shrink: 0;
        transition: $duration-transition-medium opacity ease-in-out;
        opacity: 0;
        padding: $spacing-extra-small $spacing-small;
        font-size: $font-size-medium-alt;
    }

    &:hover {
        background-color: $color-background-hover;

        .remove-button {
            opacity: 1;
        }
    }
}
