@import '~base-scss/base';

$width-sidebar: 300px;

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    .header {
        flex-shrink: 0;
        border-bottom: $width-separator-thin solid $color-separator;
        padding: $spacing-small $spacing-medium;
        @include background-color($color-background-header);
    }

    .main-content {
        @extend %main-content;
        position: relative;
        flex-grow: 1;
        margin: $page-margin;
        overflow: auto;
        @include background-color($color-foreground-alt);
    }

    .footer {
        flex-shrink: 0;
        border-top: $width-separator-thin solid $color-separator;
        padding: $spacing-small $spacing-medium;
        @include background-color($color-foreground);
    }
}

.page-with-sidebar {
    display: flex;
    height: 100%;
    overflow: auto;

    .sidebar {
        flex-basis: $width-sidebar;
        flex-grow: 0;
        flex-shrink: 0;
        @include background-color($color-foreground);
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .header {
            flex-shrink: 0;
            border-bottom: $width-separator-thin solid $color-separator;
            padding: $spacing-small $spacing-medium;
            @include background-color($color-background-header);
        }

        .main-content {
            @extend %main-content;
            position: relative;
            flex-grow: 1;
            margin: $page-margin;
            overflow: auto;
            @include background-color($color-foreground-alt);
        }

        .footer {
            flex-shrink: 0;
            border-top: $width-separator-thin solid $color-separator;
            padding: $spacing-small $spacing-medium;
            @include background-color($color-foreground);
        }
    }
}
