.list-item {
    display: flex;
    padding: var(--spacing-small) 0;

    .marker {
        align-self: flex-start;
        flex-shrink: 0;
        margin: var(--spacing-extra-small) var(--spacing-small);
        border-radius: 50%;
        width: var(--width-marker-radius);
        height: var(--width-marker-radius);
    }

    .label {
        flex-grow: 1;
    }
}
