@import '../../../stylesheets/base';

.item-icon {
    display: inline-block;
    width: $width-icon-large-alt;
}

:global .ion-chevron-down {
    transition: .4s all ease-in-out;
}

.rotated {
    transform: rotate(180deg);
}

.dropdown {
    width: 100%;
    height: 100%;

    .dropdown-header {
        display: flex;
        justify-content: space-between;
        outline: none;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        width: 100%;
        min-width: 196px;
        height: 100%;
        text-align: left;
        text-transform: uppercase;
        color: inherit;
        font-family: inherit;
        font-size: $font-size-normal;
        font-weight: $font-weight-light;
    }

    .dropdown-icon {
        margin-left: $spacing-medium-alt;
    }
}

.dropdown-list {
    @include shadow-small;
    background-color: $color-foreground;
    width: 100%;
    color: $color-text;
}

.group {
    border-bottom: $width-separator-thin solid $color-separator;
}

.group-header {
    background-color: $color-background-header-alt;
    padding: $spacing-small $spacing-medium;
    text-transform: capitalize;
}

.dropdown-item {
    display: flex;
    outline: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: $spacing-medium-alt $spacing-large;
    text-align: left;
    text-transform: uppercase;
    font-family: inherit;
    font-size: $font-size-small;
    font-weight: $font-weight-light;

    .icon {
        display: inline-block;
        flex-basis: $width-icon-extra-large;
    }

    .label {
        flex-basis: calc(100% - #{$width-icon-extra-large});
        color: $color-text;
    }

    &:hover {
        background-color: $color-background-header;
    }
}

.shown {
    display: inline-block;
}

