@import '../../../stylesheets/base';

.scroll-tabs {
    display: flex;
    justify-content: center;
    background-color: $color-foreground;

    .left-button {
        display: none;
        align-self: center;
        flex-shrink: 0;
        padding: $spacing-small-alt;
    }

    .right-button {
        display: none;
        align-self: center;
        flex-shrink: 0;
        padding: $spacing-small-alt;
    }

    .tabs-container {
        display: flex;
        flex-grow: 1;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        .tab {
            flex-shrink: 0;
            outline: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            padding: $spacing-small-alt $spacing-medium;
            text-transform: uppercase;
            color: $color-text-label;
            font-family: inherit;
            font-size: inherit;
            user-select: none;
        }

        .basic-tab {
            flex-shrink: 0;
            cursor: pointer;
            padding: 0;
        }

        .non-blank {
            display: flex;
            align-items: center;
            align-self: stretch;
            padding: 0 $spacing-small;
        }

        .blank {
            display: flex;
            align-items: center;
            align-self: stretch;
            flex-grow: 1;
            justify-content: flex-end;
            padding: 0 $spacing-small;
        }
    }

    &:not(.inverted) {
        .tabs-container {
            .tab, .basic-tab {
                border-bottom: $width-separator-medium solid $color-separator;

                &.active {
                    border-bottom-color: $color-accent;
                    color: $color-text;
                }
            }


            .blank, .non-blank {
                border-bottom: $width-separator-medium solid $color-separator;
            }
        }
    }

    &.inverted {
        .tabs-container {
            .tab, .basic-tab {
                border-top: $width-separator-medium solid $color-separator;

                &.active {
                    border-top-color: $color-accent;
                    color: $color-text;
                }
            }

            .blank, .non-blank {
                border-top: $width-separator-medium solid $color-separator;
            }
        }
    }

    &.scroll {
        .left-button {
            display: initial;
        }

        .right-button {
            display: initial;
        }
    }
}
