@import '../../../stylesheets/base';

.scroll-tabs {
    display: flex;
    justify-content: center;
    background-color: $color-foreground;

    .left-button {
        display: none;
        align-self: center;
        flex-shrink: 0;
        padding: $spacing-small-alt;
    }

    .right-button {
        display: none;
        align-self: center;
        flex-shrink: 0;
        padding: $spacing-small-alt;
    }

    .tabs-container {
        display: flex;
        flex-grow: 1;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        .tab {
            user-select: none;
            flex-shrink: 0;
            outline: 0;
            border: 0;
            border-bottom: $width-separator-medium solid $color-separator;
            background-color: transparent;
            cursor: pointer;
            padding: $spacing-small-alt $spacing-medium;
            text-transform: uppercase;
            color: $color-text-label;
            font-family: inherit;
            font-size: inherit;

            &.active {
                border-bottom-color: $color-accent;
                background-color: lighten($color-accent, 46%);
                color: $color-text;
            }
        }

        .blank {
            display: flex;
            align-items: center;
            align-self: stretch;
            flex-grow: 1;
            justify-content: flex-end;
            border-bottom: $width-separator-medium solid $color-separator;
        }
    }

    &.scroll {
        .left-button {
            display: initial;
        }

        .right-button {
            display: initial;
        }
    }
}
