.table-container {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: auto;

    .scroll-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .table {
            position: relative;
            width: 100%;
            // border-collapse: collapse;
            border-spacing: 0;
        }

        .empty-container {
            flex-grow: 1;
        }
    }
}
