@import '../../../stylesheets/base';

.raw-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.empty-container {
    display: flex;
    flex-direction: column;

    .empty {
        flex-grow: 1;
        height: 540px;
    }
}

