@import '../../../../stylesheets/base';

.raw-table {
    width: 100%;
    border-spacing: 0;
}

.headers {
    .header {
        background-color: $color-background-header;
        padding: $spacing-small $spacing-medium;
        text-transform: uppercase;
        font-size: $font-size-small;
        font-weight: $font-weight-normal;
    }
}

.body {

    .row {
        background-color: $color-background-row;

        &.hoverable {
            &:hover {
                background-color: $color-background-hover;
                color: $color-text;
            }
        }

        &.highlighted {
            background-color: $color-accent;
            color: $color-text-on-accent;
        }

        .cell {
            padding: $spacing-small $spacing-medium;

            &.hoverable {
                &:hover {
                    background-color: $color-background-hover;
                    color: $color-text;
                }
            }

            &.highlighted,
            &.column-highlighted {
                background-color: $color-accent;
                color: $color-text-on-accent;
            }
        }

        &:nth-child(odd) {
            background-color: $color-background-row-alt;
        }
    }
}
