@import '../../../stylesheets/base';

.raw-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    .headers {
        .header {
            position: sticky;
            top: 0;
            background-color: $color-background-header;
            padding: 0;
            text-transform: uppercase;
            font-size: $font-size-small;
            font-weight: $font-weight-normal;

            &:not(:last-child) {
                border-right: $width-separator-thin solid $color-separator;
            }
        }
    }

    .body {
        .row {
            background-color: $color-background-row;

            &.hoverable {
                &:hover {
                    background-color: $color-background-hover;
                    color: $color-text;
                }
            }

            &.highlighted {
                @include background-color($color-accent);
            }

            .cell {
                padding: $spacing-small $spacing-medium;

                &.hoverable {
                    &:hover {
                        background-color: $color-background-hover;
                        color: $color-text;
                    }
                }

                &.highlighted,
                &.column-highlighted {
                    @include background-color($color-accent);
                }

                &:not(:last-child) {
                    border-right: $width-separator-thin solid $color-separator;
                }
            }

            &:nth-child(odd) {
                background-color: $color-background-row-alt;
            }
        }
    }
}

