.input-label {
    display: flex;
    overflow: auto;
    color: var(--color-text-label);
    font-size: var(--font-size-extra-small);
    font-weight: var(--font-weight-bold);

    .left {
        flex-grow: 1;
        overflow: hidden;
        text-transform: uppercase;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .right {
        flex-shrink: 0;
    }

    &.empty {
        .left {
            visibility: hidden;
        }
    }

    &.active {
        .left {
            color: var(--color-accent);
        }
    }

    &.error {
        .left {
            color: var(--color-danger);
        }
    }

    &.disabled {
        .left {
            color: var(--color-text-disabled);
        }
    }
}
