.org-chart {
    .node-class {
        border: var(--width-separator-medium) solid var(--color-foreground-alt);
        background-color: var(--color-foreground-alt);
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        color: var(--color-text);
    }

    .disabled {
        background-color: var(--color-background);
        color: var(--color-text);
    }

    .selected-node-class {
        border: var(--width-separator-medium) solid var(--color-accent);
        background-color: var(--color-accent);
        cursor: pointer;
        color: var(--color-text-on-accent);
    }
}
