
.group-item {
    outline: 0;
    border: 0;
    background-color: transparent;
    padding: var(--spacing-small);
    width: 100%;
    text-align: left;
    color: var(--color-accent);
    font-family: inherit;
    font-size: inherit;
    font-weight: var(--font-weight-bold);
}
