@import '../../../../stylesheets/base';

.group-item {
    outline: 0;
    border: 0;
    background-color: transparent;
    padding: $spacing-small;
    width: 100%;
    text-align: left;
    color: $color-accent;
    font-family: inherit;
    font-size: inherit;
    font-weight: $font-weight-bold;
}
