@import '../../../stylesheets/base';

.stream-graph {

    .x-axis path {
        stroke: $color-axis-path;
    }
}

.stream-graph-tooltip {
    @include shadow-medium;
    background-color: $color-foreground;
color: $color-text-on-foreground;
    position: fixed;
    z-index: 10;
    padding: $spacing-small $spacing-medium-alt;
    animation: fade-in .2s ease-in;

    .label {
        display: block;
        text-align: left;
        text-transform: capitalize;
    }
}
