@import '../../../stylesheets/utils';

.stream-graph {

    .x-axis path {
        stroke: var(--color-axis-path);
    }
}

.stream-graph-tooltip {
    @include shadow-medium;
    position: fixed;
    z-index: 10;
    background-color: var(--color-foreground);
    padding: var(--spacing-small) var(--spacing-medium-alt);
    animation: fade-in .2s ease-in;
    color: var(--color-text-on-foreground);

    .label {
        display: block;
        text-align: left;
        text-transform: capitalize;
    }
}
