.list-view {
    position: relative;

    &.list-view-empty {
        display: flex;
        flex-direction: column;

        .empty {
            flex-grow: 1;
            color: var(--color-text-disabled);
        }
    }

    &.pending {
        pointer-events: none;
    }
}
