@import '../../../stylesheets/base';

$width-toast-medium: 480px;
$z-index-toast: 11111;

.toast {
    background-color: $color-foreground;
color: $color-text-on-foreground;
    @include transition-slow;
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 100%);
    opacity: 0;
    z-index: $z-index-toast;
    width: $width-toast-medium;
    height: auto;
    overflow: hidden;
    pointer-events: none;

    .container {
        .header {
            display: flex;
            align-items: flex-start;
            padding: $spacing-medium $spacing-large;

            .heading {
                flex-grow: 1;
            }

            .close-button {
                position: absolute;
                top: $spacing-small;
                right: $spacing-medium;
                flex-shrink: 0;
                padding: 0;
                color: $color-text-label;
                font-size: $font-size-medium-alt;
            }
        }

        .main-content {
            display: flex;
            padding: $spacing-large $spacing-medium;

            .icon {
                align-self: flex-start;
                flex-shrink: 0;
                padding: 0 $spacing-medium;
                font-size: $font-size-extra-large;
            }

            .message {
                align-self: center;
                flex-grow: 1;
                padding: 0 $spacing-medium;
            }

            .action-buttons {
                align-self: flex-end;
                flex-shrink: 0;
            }
        }
    }

    &.shown {
        transform: translate(-50%, 0%);
        opacity: 1;
        box-shadow: 0 (0 - $spacing-extra-small) $radius-blur-medium  $radius-spread-medium $color-shadow-medium;
        pointer-events: all;
    }

    &.success {
        border: $width-separator-thin solid $color-success;

        .container {
            .main-content {
                .icon {
                    color: $color-success;
                }
            }
        }
    }

    &.info {
        border: $width-separator-thin solid $color-info;

        .container {
            .main-content {
                .icon {
                    color: $color-info;
                }
            }
        }
    }

    &.warning {
        box-shadow: 0 0 $spacing-small $color-warning;

        .container {
            .main-content {
                .icon {
                    color: $color-warning;
                }
            }
        }
    }

    &.error {
        border: $width-separator-thin solid $color-danger;

        .container {
            .main-content {
                .icon {
                    color: $color-danger;
                }
            }
        }
    }
}
