@import '../../../stylesheets/utils';

.histogram {
    .bar {
        cursor: pointer;
    }

    .xaxis {
        path {
            stroke: var(--color-accent);
            stroke-width: var(--width-separator-thin);
        }

        line {
            visibility: hidden;
        }

        text {
            // transform: rotate(-40deg) translateX(-5px);
        }
    }

    .yaxis {
        path {
            stroke: var(--color-accent);
        }

        line {
            visibility: hidden;
        }
    }
}

.tooltip {
    @include shadow-medium;
    display: block;
    position: fixed;
    z-index: 10;
    background-color: var(--color-foreground);
    padding: var(--spacing-small) var(--spacing-medium-alt);
    animation: fade-in .2s ease-in;
    text-align: center;
    color: var(--color-text);
    pointer-events: none;
}
