@import '../../../stylesheets/base';

.barchart {
    .y-axis path {
        stroke: $color-axis-path;
    }

    .x-axis path {
        stroke: $color-axis-path;
    }
}

.tooltip {
    @include shadow-medium;
    background-color: $color-foreground;
color: $color-text-on-foreground;
    position: fixed;
    z-index: 10;
    padding: $spacing-small $spacing-medium-alt;
    animation: fade-in .2s ease-in;
    display: block;
    text-align: center;
}
