
@import '../../../stylesheets/base';

.collapsible-tree {
    display: flex;
    flex: 1 1 auto;
}

.info {
    position: absolute;
    top: $spacing-small;
    right: $spacing-small;
    cursor: pointer;
    color: $color-accent;
}
