
.formatted-text {
    position: relative;
    overflow: auto;

    .area {
        height: 100%;
    }

    .format-button {
        @include transition-medium;
        position: absolute;
        right: var(--spacing-large);
        bottom: var(--spacing-extra-large);
        opacity: .1;
        font-size: var(--font-size-extra-large);
    }

    &:hover {
        .format-button {
            opacity: 1;
        }
    }
}
