@import '../../../stylesheets/base';

.numeral {
    font-family: $font-family-monospace;

    &.positive {
        color: $color-success;
    }

    &.negative {
        color: $color-danger;
    }

    &.neutral {
        color: $color-accent;
    }
}
