@import '../../../../stylesheets/base';

$color-text-on-positive: rgba(0, 0, 0, .5);
$color-text-on-negative: rgba(0, 0, 0, .5);

.colored-numeral {
    &.gain-positive {
        color: $color-positive;
    }

    &.gain-negative {
        color: $color-negative;
    }
}

.numeral {
    font-family: $font-family-monospace;
}

.block-numeral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $spacing-medium;
    min-width: 72px;

    &.gain-positive {
        background-color: $color-positive;
        color: $color-text-on-positive;
    }

    &.gain-negative {
        background-color: $color-negative;
        color: $color-text-on-negative;
    }
}
