@import '../../../stylesheets/base';

%default-input-style {
    outline: none;
    border: 0;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.options {
    @include background-color($color-foreground);
    padding: $spacing-small 0;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;

    .option {
        @extend %default-input-style;
        display: block;
        cursor: pointer;
        padding: $spacing-small $spacing-small-alt;
        width: 100%;
        text-align: left;

        &:hover {
            background-color: get-hover-color($color-foreground);
        }

        .checkbox {
            margin-right: $spacing-small;
            color: $color-accent;
        }

        &:not(.multi) {
            &.active {
                @include background-color($color-accent);
            }
        }
    }

    .empty {
        padding: $spacing-small-alt $spacing-small;
        text-align: center;
        color: get-text-color($color-foreground, $color-text-placeholder-on-light, $color-text-placeholder-on-dark);
    }
}
