@import '../../../../stylesheets/base';

.select-input {
    .label {
        width: 100%;
        text-transform: uppercase;
        color: $color-label;
        font-size: $font-size-extra-small;
    }

    .input-wrapper {
        position: relative;

        .input {
            outline: none;
            border: 0;
            border-bottom: $width-separator-medium solid $color-separator-alt;
            background-color: transparent;
            padding: $spacing-extra-small 0;
            width: 100%;
            color: $color-text;
            font-family: inherit;
            font-size: inherit;

            &::placeholder {
                color: $color-text-disabled;
            }

            &:hover {
                border-bottom-color: $color-separator-hover;
            }

            &:focus {
                border-bottom: $width-separator-normal solid $color-accent;
            }
        }

        .actions {
            position: absolute;
            top: $spacing-small;
            right: $spacing-small;

            .clear-button {
                display: none;
                margin: 0;
                outline: none;
                border: 0;
                background-color: transparent;
                cursor: pointer;
                padding: 0 $spacing-small;
                color: $color-text-disabled;

                &:hover {
                    color: $color-danger;
                }
            }

            .dropdown-icon {
                transform: none;
                transition: .2s transform ease-in-out;
            }
        }

        &:hover {
            .actions {
                .clear-button {
                    display: inline-block;
                }
            }
        }
    }

    &.multiple.selected {
        .input-wrapper {
            .input {
                &::placeholder {
                    color: $color-text;
                }
            }
        }
    }

    &.options-shown {
        .label {
            color: $color-accent;
        }

        .input-wrapper {
            .dropdown-icon {
                transform: rotate(180deg);
            }
        }
    }

    &.error {
        .input-wrapper {
            .input {
                border-bottom-color: $color-danger;
            }
        }

        .label {
            color: $color-danger;
        }

    }

    .multiple {
        color: $color-text;
    }

    %base {
        margin: $spacing-extra-small 0 0;
        font-size: $font-size-extra-small;
    }

    .hint {
        @extend %base;
        color: $color-label;
    }

    .error {
        @extend %base;
        color: $color-danger;
    }

    .empty {
        @extend %base;
        visibility: hidden;
    }

    &.disabled {
        .label {
            color: $color-text-disabled;
        }

        .input-wrapper {
            .input {
                border-bottom-color: $color-separator;
                color: $color-text-disabled;
            }

            .actions {
                color: $color-text-disabled;
            }
        }
    }
}

.options {
    @include shadow-small;
    background-color: $color-foreground;
    max-height: 300px;
    overflow-y: auto;

    .empty {
        padding: $spacing-medium $spacing-large;
        color: $color-text-disabled;
    }
}

.option {
    display: block;
    outline: none;
    border: $width-separator-medium dotted transparent;
    background-color: transparent;
    cursor: pointer;
    padding: $spacing-small $spacing-medium;
    width: 100%;
    text-align: left;
    font-family: inherit;
    font-size: inherit;

    .checkmark {
        margin-right: $spacing-medium;
        color: $color-accent;
    }

    &:hover {
        background-color: $color-hover;
    }

    &.marked {
        border: $width-separator-medium dashed $color-separator;
    }

    &.selected {
        background-color: $color-accent;
        color: $color-text-on-accent;
    }
}

.container {
    width: 0;
    height: 0;
}

:global {
    #select-options-container {
        z-index: 111;
    }
}

