@import '../../../stylesheets/base';
@import '../../../stylesheets/input-base';
@import '../../../stylesheets/input-border';

$width-dropdown-button: 10px;
$width-clear-button: 14px;

.select-input {
    .input-and-actions {
        position: relative;

        .input {
            @extend %input-base;
            width: calc(100% - #{$width-dropdown-button + $spacing-small});
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .actions {
            display: flex;
            position: absolute;
            top: $spacing-extra-small;
            right: 0;
            align-items: center;
            height: calc(100% - #{$spacing-extra-small * 2});

            %button {
                display: inline-block;
                transition: $duration-transition-medium opacity ease-in-out;
                padding: $spacing-extra-small-alt;
            }

            .clear-button {
                @extend %button;
                opacity: 0;
            }

            .dropdown-button {
                @extend %button;
            }
        }

    }

    &:not(.disabled) {
        .input-and-actions {
            @extend %input-border;
        }

        &.filled {
            .input-and-actions {
                &:hover {
                    .input {
                        width: calc(100% - #{$width-dropdown-button + $width-clear-button + $spacing-small});
                    }

                    .actions {
                        .clear-button {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &.show-options,
        &.input-in-focus {
            .label {
                color: $color-accent;
            }

            .input-and-actions {
                border-bottom: $width-separator-medium solid $color-accent;
            }
        }

        &.error {
            .label {
                color: $color-danger;
            }

            .input-and-actions {
                border-bottom: $width-separator-medium solid $color-danger;
            }
        }
    }

    &.disabled {
        .label {
            color: $color-text-disabled;
        }

        .input-and-actions {
            border-bottom: $width-separator-medium solid $color-separator;

            .input {
                color: $color-text-disabled;
            }

            .actions {
                .dropdown-button {
                    color: $color-text-disabled;
                }
            }
        }
    }
}
