@import '../../../stylesheets/utils';

.sunburst-tooltip {
    @include shadow-medium;
    position: fixed;
    z-index: 10;
    background-color: var(--color-foreground);
    padding: var(--spacing-small) var(--spacing-medium-alt);
    animation: fade-in .2s ease-in;
    color: var(--color-text-on-foreground);
    pointer-events: none;

    .label {
        display: block;
        text-align: center;
        text-transform: capitalize;
    }

    .value {
        display: block;
        text-align: center;
        font-size: var(--font-size-super-large);
    }
}
