@import '../../../stylesheets/base';

.sunburst {
    display: flex;
    flex: 1 1 auto;
}

.sunburst-tooltip {
    @include shadow-medium;
    @include background-color($color-foreground);
    position: fixed;
    z-index: 10;
    padding: $spacing-small $spacing-medium-alt;
    animation: fade-in .2s ease-in;
    pointer-events: none;

    .label {
        display: block;
        text-align: center;
        text-transform: capitalize;
    }

    .value {
        display: block;
        text-align: center;
        font-size: $font-size-super-large;
    }
}
