@import '../../../stylesheets/base';

.donut-tooltip {
    @include shadow-medium;
    background-color: $color-foreground;
color: $color-text-on-foreground;

    display: none;
    position: absolute;
    z-index: 10;
    padding: $spacing-small $spacing-medium-alt;
    font-size: $font-size-medium-alt;
}
