@import '../../../stylesheets/base';

.donutchart {
    display: flex;
    flex: 1 1 auto;
}

.donut-tooltip {
    @include shadow-medium;
    @include background-color($color-foreground);

    display: none;
    position: absolute;
    z-index: 10;
    padding: $spacing-small $spacing-medium-alt;
    font-size: $font-size-medium-alt;
}
