@import '../../../stylesheets/utils';

.donut-tooltip {
    @include shadow-medium;

    display: none;
    position: absolute;
    z-index: 10;
    background-color: var(--color-foreground);
    padding: var(--spacing-small) var(--spacing-medium-alt);
    color: var(--color-text-on-foreground);
    font-size: var(--font-size-medium-alt);
}
