@import '../../../stylesheets/base';

.file-input-wrapper {
    display: inline-block;
    width: 100%;

    .preview {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-foreground;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center center;
        }
    }

    label {
        display: block;
        cursor: pointer;
        padding: $spacing-medium;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }

    input {
        display: none;
    }

    .status {
        margin: 0;
    }
}
