@import '../../../stylesheets/base';
@import '../../../stylesheets/input-label';

.date-input {
    .label {
        @extend %input-label;
    }

    .input {
        border-bottom: $width-separator-medium solid $color-separator;

        .date-unit {
            font-family: $font-family-monospace;
            background-color: transparent;
            border: 0;
            outline: 0;
            font-size: inherit;
            text-align: right;
        }

        .day-unit {
            width: 4ch;
        }

        .month-unit {
            width: 4ch;
        }

        .year-unit {
            width: 6ch;
        }
    }

    &.invalid {
        .input {
            border-bottom-color: $color-warning;
        }
    }
}
