@import '../../../stylesheets/base';
@import '../../../stylesheets/input-base';

$width-date-picker-container-min: 208px;

.date-picker-container {
    min-width: $width-date-picker-container-min;
}

.date-input {
    min-width: $width-input-min;

    .input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: $width-separator-medium solid $color-separator-alt;

        .date-units {
            $width-input-spinner: 16px;

            .date-unit {
                @extend %input-base;
                text-align: right;
                font-family: $font-family-monospace;
            }

            .day-unit {
                width: calc(2ch + #{$width-input-spinner});
            }

            .month-unit {
                width: calc(2ch + #{$width-input-spinner});
            }

            .year-unit {
                width: calc(4ch + #{$width-input-spinner});
            }
        }

        .action-buttons {
            @include transition-medium;
            display: inline;
            opacity: 0;

            .button {
                outline: 0;
                border: 0;
                background-color: transparent;
                cursor: pointer;
                padding: $spacing-extra-small $spacing-small;
                color: $color-text-label;

                &:hover {
                    color: $color-text;

                    &.clear {
                        color: $color-danger;
                    }
                }
            }
        }

        &:hover {
            .action-buttons {
                opacity: 1;
            }
        }
    }

    &:hover {
        .input {
            border-bottom-color: $color-separator-hover;
        }
    }

    &.focused {
        .label {
            color: $color-accent;
        }

        .input {
            border-bottom-color: $color-accent;
        }
    }

    &.invalid {
        .label {
            color: $color-warning;
        }

        .input {
            border-bottom-color: $color-warning;
        }
    }

    &.error {
        .label {
            color: $color-danger;
        }

        .input {
            border-bottom-color: $color-danger;
        }
    }

    &.disabled {
        .label {
            color: $color-text-disabled;
        }

        .input {
            border-bottom-color: $color-separator;

            .date-units {
                .date-unit {
                    color: $color-text-disabled;
                }
            }
        }
    }
}

