@import '~base-scss/base.scss';

.legend-item {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        flex-shrink: 0;
        margin-right: var(--spacing-small);
        font-size: var(--font-size-large);
    }

    .color {
        flex-shrink: 0;
        margin-right: var(--spacing-small);
        width: var(--font-size-medium);
        height: var(--font-size-medium);
    }

    .label {
        flex-grow: 1;
        margin-right: var(--spacing-small);
        text-transform: capitalize;
        color: var(--color-text-label);
    }
}
