@import '../../../stylesheets/base';
@import '../../../stylesheets/input-base';
@import '../../../stylesheets/input-border';

.time-input {
    min-width: $width-input-min;

    .input {
        display: flex;
        align-items: center;

        .units {
            display: flex;
            flex-grow: 1;
            $width-input-spinner: 16px;

            .unit {
                @extend %input-base;
                width: calc(2ch + #{$width-input-spinner});
                font-family: $font-family-monospace;
            }

            .separator {
                flex-shrink: 0;
                padding-right: $spacing-small;
            }
        }

        .action-buttons {
            @include transition-medium;
            display: inline;
            flex-shrink: 0;
            opacity: 0;
        }

        &:hover {
            .action-buttons {
                opacity: 1;
            }
        }
    }

    &:not(.disabled) {
        .input {
            @extend %input-border;
        }

        &.focused {
            .input {
                border-bottom-color: $color-accent;
            }
        }

        &.invalid {
            .input {
                border-bottom-color: $color-warning;
            }
        }

        &.error {
            .input {
                border-bottom-color: $color-danger;
            }
        }
    }

    &.disabled {
        .label {
            color: $color-text-disabled;
        }
    }
}
