
.button {
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: var(--spacing-extra-small) var(--spacing-small);
    color: var(--color-text-label);
    font-size: var(--font-size-small);

    &:hover {
        color: var(--color-accent);

        &.clear {
            color: var(--color-danger);
        }
    }
}
