@import '../../../../stylesheets/base';

.button {
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: $spacing-extra-small $spacing-small;
    color: $color-text-label;
    font-size: $font-size-small;

    &:hover {
        color: $color-accent;

        &.clear {
            color: $color-danger;
        }
    }
}
