@import '../../../stylesheets/base';

.vertical-bar-chart {
    display: flex;
    align-items: center;
    justify-content: center;

    .svg {
        .bars {
            .bar {
                cursor: pointer;
                fill: $color-accent;
                &:hover {
                    opacity: .7;
                }
            }
        }

        .x-axis {
            stroke-width: $width-separator-medium;
            stroke: $color-accent;
        }

        .y-axis {
            .line {
                stroke-width: $width-separator-medium;
                stroke: $color-accent;
            }
            .ticks {
                text-anchor: end;

                .line {
                    stroke-width: $width-separator-thin;
                    stroke: $color-accent;
                }
                .text {
                    fill: $color-text;
                }
            }
        }

        .grid {
            .x-grid {
                fill: none;
                stroke-width: $width-separator-thin;
                stroke: $color-separator;
                stroke-dasharray: 5,5;
            }
        }
    }
}
