@import '../../../stylesheets/base';

.vertical-bar-chart {
    display: flex;
    align-items: center;
    justify-content: center;

    .svg {
        .bars {
            .bar {
                opacity: .2;
                fill: $color-accent;

                &:hover {
                    opacity: .3;
                }
            }
        }

        .y-axis {
            stroke-width: $width-separator-medium;
            stroke: $color-accent;
        }
    }
}
