@import '../../../stylesheets/base';

.vertical-bar-chart {
    display: flex;
    align-items: center;
    justify-content: center;

    .svg {
        .bars {
            .bar {
                opacity: .2;
                fill: $color-accent;

                &:hover {
                    opacity: .3;
                }
            }
        }

        .x-axis {
            stroke-width: $width-separator-medium;
            stroke: $color-accent;
        }

        .y-axis {
            .line {
                stroke-width: $width-separator-medium;
                stroke: $color-accent;
            }
            .ticks {
                text-anchor: end;

                .line {
                    stroke-width: $width-separator-thin;
                    stroke: $color-accent;
                }
                .text {
                    fill: $color-text;
                }
            }
        }
    }
}
