
.tabular-select-input {
    display: flex;
    flex-direction: column;

    .select {
        flex-shrink: 0;
    }

    .table-container {
        flex-grow: 1;
        background-color: var(--color-background-row-alt);
        overflow-y: auto;
    }

    :global {
        .raw-table {
            .headers {
                .delete-action-included {
                    width: 64px;
                }
            }
        }
    }

    &.error {
        border-bottom-color: var(--color-danger);
    }

    %base {
        margin: var(--spacing-extra-small) 0 0;
        font-size: var(--font-size-extra-small);
    }

    .error {
        @extend %base;
        color: var(--color-danger);
    }
}
