@import '../../../../stylesheets/base';

.tabular-select-input {
    display: flex;
    flex-direction: column;

    .select {
        flex-shrink: 0;
    }

    .table-container {
        flex-grow: 1;
        overflow-y: auto;
    }

    :global {
        .raw-table {
            .headers {
                .delete-action-included {
                    width: 64px;
                }
            }

            .delete-button {
                color: $color-danger;
            }
        }
    }

}
