@import '../../../stylesheets/utils';

.grouped-bar-chart {
    .bar{
        cursor: pointer;
    }

    .y-axis  {
        path {
            stroke: var(--color-axis-path);
        }
        line {
            stroke: var(--color-axis-path);
        }
    }

    .x-axis path {
        color: var(--color-axis-path);
    }

    .text {
        text-anchor: middle;
    }

    .line {
        stroke: #008FFB;
        stroke-width: 2;
    }

    .dot {
        cursor: pointer;
        fill: #008FFB;
        stroke: #fff;
    }
}

.tooltip {
    @include shadow-medium;
    display: none;
    position: fixed;
    z-index: 10;
    background-color: var(--color-foreground);
    padding: var(--spacing-small) var(--spacing-medium-alt);
    animation: fade-in .2s ease-in;
    text-align: center;
}
