@import '../../../stylesheets/base';

.svg {
    height: $font-size-medium;
    color: inherit;

    path {
        color: inherit;
        fill: currentColor;
    }
}

.image {
    width: auto;
    height: $font-size-medium;
}
