@import '../../../stylesheets/base';


.list-selection {
    .options {
        display: flex;

        .item {
            padding: var(--spacing-extra-small) var(--spacing-small);

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}
