@import '../../../stylesheets/base';


.list-selection {
    .options {
        display: flex;

        .item {
            padding: $spacing-extra-small $spacing-small;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}
