@import '../../../stylesheets/base';

.recaptcha {
    display: flex;
    flex-direction: column;
    padding: $spacing-small;

    .g-recaptcha {
        display: inline-block;
        margin: 0;
        border: $width-separator-medium solid transparent;
        background-color: transparent;
        color: $color-text;
        font-family: inherit;
        font-size: inherit;

        &>div {
            margin: 0 auto;
        }

        &.error {
            border-bottom: $width-separator-medium solid $color-danger;
        }
    }

    %base {
        margin: $spacing-extra-small 0 0;
        font-size: $font-size-extra-small;
    }

    .hint {
        @extend %base;
        color: $color-label;
    }

    .error {
        @extend %base;
        color: $color-danger;
    }

    .empty {
        @extend %base;
        visibility: hidden;
    }
}
