@import '../../../stylesheets/base';

.recaptcha {
    padding: $spacing-small 0;

    .g-recaptcha {
        border: $width-separator-medium solid transparent;

        &.errored {
            border-color: $color-danger;
        }
    }

    %base {
        margin: $spacing-extra-small 0 0;
        font-size: $font-size-extra-small;
    }

    .hint {
        @extend %base;
        color: $color-text-label;
    }

    .error {
        @extend %base;
        color: $color-danger;
    }

    .empty {
        @extend %base;
        visibility: hidden;
    }
}
