@import '../../../stylesheets/base';

.text-area {
    display: flex;
    flex-direction: column;

    .label {
        text-transform: uppercase;
        color: var(--color-text-label);
        font-size: var(--font-size-extra-small);
    }

    .input {
        outline: none;
        border: 0;
        border-bottom: var(--width-separator-medium) solid var(--color-separator-alt);
        background-color: transparent;
        padding: var(--spacing-extra-small) 0;
        color: var(--color-text);
        font-family: inherit;
        font-size: inherit;

        &::placeholder {
            color: var(--color-text-disabled);
        }

        &:hover {
            border-bottom-color: var(--color-separator-hover);
        }

        &:focus {
            border-bottom-color: var(--color-accent);
        }
    }

    &.focused {
        .label {
            color: var(--color-accent);
        }
    }

    &.error {
        .input {
            border-bottom-color: var(--color-danger);
        }

        .label {
            color: var(--color-danger);
        }

    }

    &.required {
        .label {
            font-weight: var(--font-weight-medium);

            &::after {
                content: '*';
            }
        }
    }

    &.disabled {
        .label {
            color: var(--color-text-disabled);
        }

        .input {
            border-bottom-color: var(--color-separator);
            color: var(--color-text-disabled);
        }
    }

    %base {
        margin: var(--spacing-extra-small) 0 0;
        font-size: var(--font-size-extra-small);
    }

    .hint {
        @extend %base;
        color: var(--color-text-label);
    }

    .error {
        @extend %base;
        color: var(--color-danger);
    }

    .empty {
        @extend %base;
        visibility: hidden;
    }
}
