@import '../../../stylesheets/base';

.date-input-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
}

.date-input {
    display: inline-flex;
    flex-basis: 100%;
    border-bottom: $width-separator-medium solid $color-separator;

    &.focus {
        border-bottom-color: $color-accent;
    }

    input {
        flex-basis: 30%;
        outline: 0;
        border: 0;
        background-color: transparent;
        padding-left: 5%;
        width: 30%;
        text-align: center;

        color: inherit;
        font-family: inherit;
        font-size: inherit;
    }

    .separator {
        flex-basis: 5%;
        width: 5%;
    }
}
