@import '../../../../../stylesheets/base';
@import '../../../../../stylesheets/button-base';

.option {
    @extend %button-base;
    display: block;
    cursor: pointer;
    padding: $spacing-small $spacing-small-alt;
    width: 100%;
    text-align: left;

    &.focused {
        background-color: get-hover-color($color-foreground);
    }

    &.active {
        background-color: $color-accent;
color: $color-text-on-accent;
    }
}
