
.image-container {
    position: relative;
    overflow: auto;

    .image {
        // Nothing here?
    }

    .action-buttons {
        position: absolute;
        top: var(--spacing-medium);
        left: var(--spacing-medium);
        transition: var(--duration-transition-medium) opacity ease-in-out;
        opacity: 0;
        border: var(--width-separator-thin) solid rgba(0, 0, 0, .3);
        border-radius: 4px;
        background-color: rgb(0, 0, 0);
        padding: var(--spacing-extra-small) 0;

        .action {
            display: block;
            padding: 0 var(--spacing-small);
            color: var(--color-foreground);
            font-size: var(--font-size-large);
        }
    }

    &:hover {
        .action-buttons {
            opacity: 1;
        }
    }
}
