.image-container {
    position: relative;
    overflow: auto;

    .image {
        cursor: pointer;
        width: calc(100% - var(--spacing-small));
        height: calc(100% - var(--spacing-small));
        object-fit: contain;
    }

    .action-buttons {
        position: absolute;
        top: var(--spacing-medium);
        left: var(--spacing-medium);
        transition: var(--duration-transition-medium) opacity ease-in-out;
        opacity: 0;
        border: var(--width-separator-thin) solid rgba(0, 0, 0, .3);
        border-radius: 4px;
        background-color: rgb(0, 0, 0);

        .action {
            display: block;
            padding: 0 var(--spacing-small);
            color: var(--color-foreground)!important;
            font-size: var(--font-size-large);
        }
    }

    &:hover {
        .action-buttons {
            opacity: 1;
        }
    }
}

.modal {
    width: 96vw;
    height: 96vh;

    .modal-body {
        width: 100%;
        height: 100%;
        overflow: auto;

        .image {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }
}
